[2016-07-08 12:55] markus-becker-tridonic-com opened #37 "mbed-os-example-client does not work on STM Nucleo F401RE"
I am trying to get the mbed-os-example-client to run on an STM Nucleo F401RE with the 6LoWPAN shield and the configuration.

In order to do so, I modified
[code]
and
[code]
so that it actually fits into ROM.

**On the K64:**
mbed compile -c -t GCC_ARM -m K64F -j 4
[code]

**On the F401RE:**
mbed compile -c -t GCC_ARM -m NUCLEO_F401RE
[code]

[2016-07-14 09:37] toyowata opened #39 "A client example failed when proper entropy collector has not been implemented"
In K64F platform, the macro ```MBEDTLS_ENTROPY_HARDWARE_ALT``` is defined in the ```target.json``` and proper implementation has been done in the HAL.

https://github.com/mbedmicro/mbed/pull/1879

Some platforms do not support RNG hardware and expect to use software solution. e.g. build client example without ```MBEDTLS_ENTROPY_HARDWARE_ALT``` macro.

In that case, I got connection error below if

[2016-07-29 09:17] SYuPing opened #46 "Problem for connecting to mDS"
Hi,
I want to connect to local mDS instead of mDC because my contry do not support for IPv6 connectitvity...
So, I did some change in main code as follow,

1. coaps://[2607:f0d0:2601:52::20]:5684 TO "coap://FD00:FF1:CE0B:A5E0::1:5683" <--local mDS static address
2. security->set_resource_value(M2MSecurity::SecurityMode, M2MSecurity::Certificate); TO security->set_resource_value(M2MSecurity::Securi

[2016-07-30 17:31] MarceloSalazar opened #54 "[multiple targets] Unable to connect using Wifi"
Tested RC4 and commented out SW2 / SW3
GCC, Windows

Targets:
- NUCLEO_F401RE, F411RE: No error message on serial port
- NUCLEO_F746ZG: `[ERROR:] M2MInterface::SecureConnectionFailed`

Targets not expected to work
- DISCO_F429ZI - No arduino headers available
- RZ_A1H - Wifi module doesn't fit well

[2016-07-30 18:37] MarceloSalazar opened #56 "Make client application generic to work with multiple targets"
Proposed solution is shown here: https://github.com/ARMmbed/mbed-os-example-client/pull/55

[2016-08-01 22:07] sarahmarshy opened #61 "[Uvision export] Error in SVC_Table.S"
This is the exact error when building in uvision after calling the mbed export command for K64F:
[code]

[2016-08-01 22:10] sarahmarshy opened #62 "[IAR export] Multiple tools write to the same file."
This is the exact error when building in IAR after calling the mbed export command for K64F:
[code]

[2016-08-02 20:21] maclobdell opened #65 "Thread connection failure with mcr20a-rf-driver"
K64F + MCR20A shield
GCC_ARM & IAR compilers
MESH_THREAD configuration
Channel 12
connecting to mbed border router with thread dynamic binary image

6lowpan works, but thread fails.

mbed-os-example-client (514b735fd3d
|- esp8266-driver (450cc128865f)
|- mbed-os (4b506280eb4d)
`- mcr20a-rf-driver (70ce90214856)

Logs attached
[thread_rc4_mcr20a_gcc.txt](https://github.com/ARMmbed/mbed-os-example-c

[2016-08-04 10:41] javier-moreno-tridonic-com opened #69 "Current checkout (001fe0d) Not running in K64F and NUCLEO_F401RE"
I using the following checkouts:
- **mbed-os-example-client** 001fe0d045d8b7b9675646ac5a58ae3a22469e22
- **mbed-os** dd36dc4228b52ae538ecaa2f1a1dbba9260b9bd9
- **esp8266-driver** 450cc128865ffb90b5cbfe5af193621644024fa7
- **atmel-rf-driver** a16a4ed6f6e8d5f2d009f25b6ab7c38affb5019c

The project builds fine, but when I try running it I never reaches main.

Stack trace looks like this:

If I try to

[2016-08-08 06:30] javier-moreno-tridonic-com commented on #69
I was compiling with GCC:

Using:

For the nucleo board and

For the freescale one

@hasnainvirk Sure we can set up a Skype session. Can you provide me with a contact mail to look for a suitable date?

[2016-08-08 07:55] hasnainvirk commented on #69
@javier-moreno-tridonic-com , please contact me at hasnain.virk@arm.com
skype: husnain.virk

[2016-08-08 12:20] javier-moreno-tridonic-com commented on #69
Hi there, looks like it was my compiler version. I tried again with a clean checkout of the example today and an updated compiler and it works for both targets.

The versions I'm using now are:

Thank you all for your hints and comments.

[2016-08-08 12:20] #69 closed

[2016-08-08 12:39] 0xc0170 commented on #61
Please check if this is logged already in mbed repository, as it's related to its flags, not this repository (it's good that we got an example how to reproduce a problem).

[2016-08-08 12:39] yogpan01 commented on #69
@javier-moreno-tridonic-com
Hi,
According to the documentation mentioned here (https://docs.mbed.com/docs/mbed-os-handbook/en/5.1/dev_tools/cli/#installing-mbed-cli)

You may run into some unknown issues with latest compiler > 4.9

[2016-08-08 12:42] 0xc0170 commented on #62
I recall I created an issue for this but probably in the repo that was private. This is known limitation of some tools, like IAR that does not like having 2 objects files with the same name. Please create an issue in mbed repo, as both files are part of it. We will need to figure out how to fix this, I suspect  this is not just a case of IAR but other tools as well.

[2016-08-08 12:46] hasnainvirk commented on #69
@javier-moreno-tridonic-com Mate I had been trying with 4.9. It was working perfectly. I think the culprit might have been some mishap during your last checkout. Something wasn't right. Please test latest checkout with 4.9, it should work.

[2016-08-08 13:15] javier-moreno-tridonic-com commented on #69
Ok thanks for the heads up. I will try with a different 4.9 release (I was using q1 and the documentation suggests that q2 is used)

[2016-08-08 14:14] sarahmarshy commented on #61
@0xc0170. It is solved in mbed now with  https://github.com/ARMmbed/mbed-os/pull/2377

[2016-08-08 14:14] #61 closed

[2016-08-09 07:27] yogpan01 commented on #56
Closing this issue as it is now solved.

[2016-08-09 07:27] #56 closed

[2016-08-09 07:28] yogpan01 commented on #39
Closing this issue as it is now solved by providing the work around for different hardware boards.

[2016-08-09 07:28] #39 closed

[2016-08-09 07:29] yogpan01 commented on #54
Closing this issue as it is now solved.

[2016-08-09 07:29] #54 closed

[2016-08-09 07:29] yogpan01 commented on #46
If you are using local device server , you need to use DOMAIN value as "domain"

[2016-08-09 07:30] yogpan01 commented on #62
Is this issue now created on mbed OS ?
@sarahmarshy Please create log this issue on mbed OS and close it from here.

[2016-08-09 07:31] yogpan01 commented on #65
@hasnainvirk Can this issue be closed now ? If yes, please close it.

[2016-08-09 08:11] hasnainvirk commented on #65
Positive. This should be closed. @maclobdell can you please close this ?

[2016-08-09 13:54] maclobdell commented on #65
Let me test this again just to confirm.

[2016-08-09 15:09] javier-moreno-tridonic-com commented on #37
@sg Thanks for the pointer!

Cloning sal-stack-nanostack-private to replace sal-stack-nanostack doesn't work without any tweaking (compilation gives a bunch of errors about type redefinitions, for instance). I'm trying to sort it out but I was wondering: Is there any specific branch/tag that we should use with the current mbed-os release? (so far I've tried master and the v5.0.5 tag)

[2016-08-09 15:20] sarahmarshy commented on #62
https://github.com/ARMmbed/mbed-os/issues/2344

[2016-08-09 15:20] #62 closed

[2016-08-09 18:21] maclobdell commented on #65
There is still an issue connecting to a thread network with this example and mcr20a rf shield and driver.  I tested this twice with slightly different results each time.  Attached are the two logs.  This exact setup works fine with atmel shield and rf driver.  I waited 5+ minutes between all tests.

[mbed-os-example-client-5.1.0-mcr20a_test_log_2.txt](https://github.com/ARMmbed/mbed-os-example-cli

[2016-08-10 07:27] hasnainvirk commented on #65
@maclobdell I will ask someone in cambridge to send me this rf shield. Without having hardware I can't help you no matter how much I want to do so.

[2016-08-10 07:51] markus-becker-tridonic-com commented on #37
@MarceloSalazar would you have a look at @javier-moreno-tridonic-com's comment?

Do we need to clone all of
* mbed-mesh-api
* mbed-trace
* nanostack-hal-mbed-cmsis-rtos
* nanostack-libservice
* sal-stack-nanostack-eventloop
* sal-stack-nanostack-private

Or is just sal-stack-nanostack-private enough? Which tags/versions should work?

[2016-08-10 09:20] hasnainvirk commented on #37
@markus-becker-tridonic-com @javier-moreno-tridonic-com

I just tried 5.0.5 and everything built smoothly. The version of Nanostack included in mbed-os is 5.0.5. It was checked out from branch 5.0-maint. Can you please have a Skype session session with me ?
You don't need to clone anyting else. Just clone nanostack and checkout either  v5.0.5 or 5.0-maint.
I tried with lowpan_router config:

+----

[2016-08-10 11:14] hasnainvirk commented on #37
Had a Skype session with @javier-moreno-tridonic-com . The problem was the same file names on the include path. Its a known-issue on mbed-os5.
When you have nanostack binaries you will not encounter this issue. However when you use sources, there are files like socket.h and thread.h whereas mbed-OS will bring in Socket.h and Thread.h. On unix based syatems you would still get away as they are case

[2016-08-10 11:18] javier-moreno-tridonic-com commented on #37
I opened a new [issue ](https://github.com/ARMmbed/mbed-os/issues/new) for better tracking.

For completion, the compilation errors can be fixed in windows by replacing the following lines:

---
### mbed-os
**File**
mbed-os\features\FEATURE_CLIENT\mbed-client-classic\mbed-client-classic\m2mconnectionhandlerpimpl.h

**Replace**
[code]
**With**
[code]
---
### atmel-rf-driver
**File**
source\driverAt

[2016-08-12 07:58] javier-moreno-tridonic-com opened #74 "Can't compile the example using armcc"
When I try to compile the example in windows 7 with:

Product: MDK-ARM Standard Cortex-M only 5.10
Component: ARM Compiler 5.04 update 1 (build 49)
Tool: armcc [5040049]

Using:

or

I get in both cases the following output:

Scan: .
Scan: FEATURE_BLE
Scan: FEATURE_CLIENT
Scan: FEATURE_COMMON_PAL
Scan: FEATURE_UVISOR
Scan: FEATURE_IPV4
Scan: FEATURE_IPV6
Scan: FEATURE_STORAGE
Scan: mbed
Scan: env

[2016-08-12 07:58] ciarmcom commented on #74
ARM Internal Ref: IOTCLT-904

[2016-08-12 08:04] 0xc0170 commented on #74
Thanks for reporting. This is a bug in the mbed-os, not with the client. we will send a fix for this (it should check for gnuc and not cc_arm - as we use currentyl --gnu flag for armcc that sets that GNUC macro).

[2016-08-12 08:10] MarceloSalazar commented on #74
@javier-moreno-tridonic-com please update to MDK v5.20, ARM Compiler 5.06 Update 3
This is the version of the compiler expected to work. Let us know if you continue to see this error.

[2016-08-15 14:10] cyliangtw opened #75 "Can't register mbed-client object successfully through WiFi"
Based on the up-to-date version, I can't register mbed-client object successfully through WiFi on K64F.
However, it could work fine based on the old version download on 07/18.

[2016-08-15 15:58] ciarmcom commented on #75
ARM Internal Ref: IOTCLT-918

[2016-08-15 16:14] yogpan01 commented on #75
@geky Please check this.

[2016-08-16 11:04] SYuPing commented on #46
Hi,
I've tried some steps as follow but still can't connect.....

1. Change DOMAIN value to **#define MBED_DOMAIN "domain"** in security.h
2. Change **security->set_resource_value(M2MSecurity::SecurityMode, M2MSecurity::Certificate); TO security->set_resource_value(M2MSecurity::SecurityMode, M2MSecurity::NoSecurity);** in simpleclient.h #L144
3. Change **“uint16_t port = rand() % 65535 + 12345;” t

[2016-08-17 01:33] SYuPing commented on #46
Sorry, the message "Connecting to coaps://[2607:f0d0:2601:52::20]:5684" in log is wrong.
 It's my fault to check that when I paste it.
Which correct log message is:

Starting mbed Client example...
Using Mesh

Connecting to Mesh..

Connected to Network successfully
IP address fd00:ff1:ce0b:a5e0:fcc2:3d00:4:b74d

SOCKET_MODE : UDP
Connecting to coap://FD00:FF1:CE0B:A5E0::1:5683

[ERROR:] M2MInterfa

[2016-08-17 13:48] javier-moreno-tridonic-com commented on #74
Thanks, updated to MDK v5.20, ARM Compiler 5.06 Update 3 and now it's working

[2016-08-17 13:48] #74 closed

[2016-08-18 03:36] SYuPing commented on #46
Hi,

When the changed above confige to be 6lowpan-ND and connected with another k64f board which code is downloaded k64f-border-router could connect to mDS.

What I mean is that I used k64f board+6lowpan shield which downloaded k64f-border-router example to be a BR to represent gayway router.
It could connected to mDS sucessfully.

But in thread mode + gateway still failed...

[2016-08-19 06:15] yogpan01 commented on #46
@hasnainvirk  Can you please check this ?

[2016-08-19 09:31] javier-moreno-tridonic-com commented on #37
New addition to this target issue. Using GCC is running great for us now. Today I tried to use the same code but compiled with armcc.

The example crashes with a HardFault in  **osEventObs->pre_start();**
mbed-os/rtos/rtx/TARGET_CORTEX_M/rt_CMSIS.c
---
[code]

Stack trace
---

[2016-08-22 19:24] maclobdell opened #77 "incompatible redefinition of macro "UNITY_INCLUDE_CONFIG_H""
from a fresh import of this example
release tag mbed-os-5.1.2

there are hundreds of warnings for:

[Warning] mbed_config.h@29,0:  #47-D: incompatible redefinition of macro "UNITY_INCLUDE_CONFIG_H" (declared at line 28)

in mbed_config.h, multiple defines are generated for this macro.

// Macros
#define UNITY_INCLUDE_CONFIG_H                                   None                           // defi

[2016-08-22 19:25] yogpan01 commented on #77
@c1728p9 @0xc0170 Can you please check this ? There are no changes in example code, only change happened is new mbed-os version

[2016-08-22 19:50] geky commented on #75
Looking into this more, but it looks like this issue only occurs when mbed-trace is enabled.

[2016-08-22 19:58] ciarmcom commented on #77
ARM Internal Ref: IOTCLT-962

[2016-08-22 20:13] maclobdell commented on #75
also looks like compiling with gcc_arm works, but with armcc compiler it does not.

[2016-08-23 02:03] SYuPing commented on #46
Here is my mbed_app.json file

{
    "config": {
        "network-interface":{
            "help": "options are ETHERNET,WIFI,MESH_LOWPAN_ND,MESH_THREAD",
            "value": "MESH_THREAD"
        },
        "wifi-ssid": {
            "help": "WiFi SSID",
            "value": "\"SSID\""
        },
        "wifi-password": {
            "help": "WiFi Password",
            "value": "\"Password\""

[2016-08-23 23:45] geky commented on #75
This requires more testing, but I believe https://github.com/ARMmbed/mbed-os/pull/2530 should solve this issue.

[2016-08-24 15:40] #75 closed

[2016-08-25 09:37] hasnainvirk commented on #46
@SYuPing I tries a similar setup like you. And I was able to get connected. Can you please have a Skype session with me to look at what you are doing ?
Please contact me at, skypeID = husnain.virk

[2016-08-25 10:28] hasnainvirk commented on #46
@SYuPing My setup:

mbed-Gateway with Thread Static binary loaded(from this repo)
K64F with Atmel-RF –Shield and mbed-os-example-client loaded on it
mbed Device Server 3.1.0

Things I did differently :

In main.cpp:

[code]

In simpleclient.h:
[code]

On my laptop running mDS:
[code]

[2016-08-25 14:08] sg- commented on #77
@maclobdell Please file this against mbed-os thx!!

[2016-08-26 05:18] javier-moreno-tridonic-com commented on #37
Any updates on this?

[2016-08-26 08:02] SYuPing commented on #46
Hi,

I still could not connect sucessfully after I followed your step...

BTW,
My mDS is running on windows OS not linux...Is it effect?
Should I still type some command on my dos command line?

Thanks a lot

[2016-08-26 08:25] hasnainvirk commented on #46
@SYuPing Can you try this on windows

netsh interface ipv6 set interface "Local Area Connection" advertise=enabled

[2016-08-26 09:16] SYuPing commented on #46
What I tried is
netsh interface ipv6 set interface "區域連線 2" advertise=enabled
The chinese I typed "區域連線 2" is the name of Local Area Connection in my computer
but....it still failed...
The version of mDS server what I used is 3.0.6

[2016-08-29 12:15] hasnainvirk commented on #46
@SYuPing

I tried with Windows OS and I found out that the Windows Firewall was blocking all traffic on outgoing ports from Windows to BR.

Please follow the following instructions to get your issue resolved:

[code]
Now you should be able to see get your traffic from mDS through.

[2016-08-31 20:27] BlackstoneEngineering opened #78 "blinking red LED gives impression of failure"
## Problem

The successful running of the example results in a flashing red LED. This indicated failure to most people.
## Solutions
1. Change the LED deffinition to use led2 which is green on most boards with RGB deffinitions.
2. Use a blinking LED for failure and a solid LED for success?

[2016-08-31 23:49] ciarmcom commented on #78
ARM Internal Ref: IOTCLT-994

[2016-09-01 05:53] SYuPing commented on #46
It can work after I changed the gateway code "gatewayThreadStatic.bin" which updated date is 8/19.
The problem seems like the version of gatewayThreadStatic.bin file.
No metter what the code I used  is copied from you this week or three weeks ago which I  chagned refer to your steps, both are workable now.
But when I change the gateway code "gatewayThreadStatic.bin" back to 8/19 before (exctly dat

[2016-09-01 06:05] #46 closed

[2016-09-01 06:11] yogpan01 commented on #65
@hasnainvirk @maclobdell Is this issue resolved ?

[2016-09-01 06:12] yogpan01 commented on #37
@SeppoTakalo @hasnainvirk Any progress on this issue ?

[2016-09-01 08:15] hasnainvirk commented on #37
@javier-moreno-tridonic-com which version of armcc are you using ?

[2016-09-01 08:16] hasnainvirk commented on #65
@yogpan01 I have the hardware now. But I had not have any time to look into it.

[2016-09-01 08:42] javier-moreno-tridonic-com commented on #37
@hasnainvirk

This one

Component: ARM Compiler 5.06 update 2 (build 183)
Tool: armcc [4d35cd]

[2016-09-01 10:02] hasnainvirk commented on #65
@yogpan01 @AnttiKauppila I am not able to Connect to Connector using Thread with any RF shield.
I tried with both atme-rf-shield and mcr20a-rf-shield.

-> Thread network gets established.
-> Node gets the IP address (both with atmel-rf and mcr20a)
-> Then it tries to connect to Connector

Symptoms:

* I can only see Client Hello messages in Wireshark.
* No reponse from Connector.
* In Clinet Hello

[2016-09-01 11:10] hasnainvirk commented on #65
@yogpan01 @AnttiKauppila @maclobdell

Alright, it seems that the my 4G Elisa device (for backhaul connectivity) needed a firmware update. Its DHCPv6 mechanism was not working properly. So I was getting an IPv6 address but it wasn't routable at ISP's end. I updated the firmware and everything worked fine.

I tried with both atmel-rf-shield and mcr20a-rf-shield. Both worked fine.

I think this issue

[2016-09-02 16:22] #77 closed

[2016-09-05 10:49] hasnainvirk commented on #37
@yogpan01 , @SeppoTakalo

Seemingly 96K RAM is not enough for mbed-os-example-client (with 6LoWPAN-ND) to work well.

 i) With GCC, RAM gets consumed while mbedTLS starts writing ecp encryption tables in RAM. This is the error code MBEDTLS_ERR_SSL_ALLOC_FAILED -32512 (-0x7F00). But the system does not crash because with GCC there is a sane mechanism of Heap and stack overlap control. Anyway, app d

[2016-09-05 13:18] hasnainvirk commented on #37
@javier-moreno-tridonic-com Our Client Lead suggested a quick fix, https://github.com/ARMmbed/mbed-os-example-client/blob/master/mbedtls_mbed_client_config.h#L108
Change the undef to define , it will save 8K RAM for you at the expense of Flash. I tested it with ARMCC and GCC.

[2016-09-05 13:57] javier-moreno-tridonic-com commented on #37
Good news, I'll try that ASAP.

On the meantime I made a test to check the RAM usage. To do so I tried modifying the **startup_stm32f401xe.S** to fill the RAM with a pattern.

[code]
I dumped RAM contents on crash and used the following script to check how many 4 Bytes are different from this "DEADBEEF" pattern:

[code]

 This was the result:
[code]

I looks like on crash time there should be ~30K

[2016-09-06 07:15] hasnainvirk commented on #37
@javier-moreno-tridonic-com It seems that the hard fault issue because of RAM exhaustion with ARMCC is fixed in mbed-o-5.1.3

[2016-09-07 09:06] TuomoHautamaki commented on #65
@yogpan01, @maclobdell please close this one unless you think this requires further studies. In our tests things worked fine

[2016-09-07 09:13] TuomoHautamaki commented on #37
@javier-moreno-tridonic-com can you close this as the original issue has been solved now. Thank you

[2016-09-08 07:34] byungdoochoi opened #80 "A binary built with ARMCC is not able to connect to the connector."
**Step:**
1-1. Build this example with the online compilation environment.
1-2. Build this example with mbed cli with -t ARM.
2. Flash the binary and turn on the K64F and ESP8266.
3. See it connects to a wifi AP.

**Symptom:**
It can't connect to the connector; stops moving forward after this line:
-------
SOCKET_MODE : UDP
Connecting to coap://api.connector.mbed.com:5684
-------
Enabling logs fro

[2016-09-08 07:49] ciarmcom commented on #80
ARM Internal Ref: IOTCLT-1007

[2016-09-09 10:02] javier-moreno-tridonic-com commented on #37
@TuomoHautamaki Well today I tried again a clean checkout of the example using mbed-os 5.1.3 and the fix proposed by @hasnainvirk to save 8KB of RAM but the example still crashes with a HardFault. on the same line.

If you mean that @markus-becker-tridonic-com initial problem is fixed I can close this issue and open a new one about the HardFault and reference this one. Is that what you want?

[2016-09-09 11:04] hasnainvirk commented on #37
@TuomoHautamaki  @markus-becker-tridonic-com I had tested it with mbed-OS 5.1.3 and the memory work arounds. It worked fine for me. I just had a Skype session with Javier, and I demonstrated him the solution. I suspect the OpenOCD tool that Javier is using causes troubles because it uses JTAG. By design Nucleo F401RE uses PB_4(i.e., D5 in terms of Arduino) for JTAG whereas the firefly radio shield

[2016-09-09 11:52] yogpan01 commented on #65
@maclobdell can you please close this issue ?

[2016-09-09 21:46] maclobdell commented on #65
Looks like the issue could have been due to an unconnected antenna on my mcr20a shield.  Both 6lowpan and thread networking is passing now.  This can be closed.  Thanks.

[2016-09-09 21:46] #65 closed

[2016-09-12 10:26] yogpan01 commented on #80
@geky Please check this , it works for GCC but not for ARMCC

[2016-09-12 12:23] javier-moreno-tridonic-com commented on #37
I can finally confirm @hasnainvirk theory. Apparently my debug tools cause some sort of problem that end in a hard fault crash.

@markus-becker-tridonic-com can you close this issue???

[2016-09-13 17:33] #37 closed

[2016-09-15 06:46] ivan-adzic-tridonic-com opened #81 "Not able to set Nanostack_IPv6 for M2MInterfaceFactory::create_interface"
It said, not supported... while in mbed3 we were able to use it. What that means and why only M2MInterface::LwIP_IPv4 is supported for the moment.

"ConnectionHandler: Unsupported network stack, only IPv4 is currently supported"

@MarceloSalazar

[2016-09-16 05:00] ciarmcom commented on #81
ARM Internal Ref: IOTCLT-1030

[2016-09-16 09:22] mridup opened #83 "build failure with Nucleo boards"
compilation fails when built for Nucleo boards. Tried a build with K64F which builds OK.
Adding the ENTROPY macros in mbed_app.json does not add the macros to the mbed_config.h file in the .build/ folder.

`"macros": ["MBEDTLS_USER_CONFIG_FILE=\"mbedtls_mbed_client_config.h\"",
                "MBEDTLS_NO_DEFAULT_ENTROPY_SOURCES",
                "MBEDTLS_TEST_NULL_ENTROPY"],`

In fact the first m

[2016-09-16 15:14] toyowata opened #84 "An example of the mbed_app.json file for non-K64F boards is not correct"
An example of the ```mbed_app.json``` file for non-K64F boards is not correct here:

https://github.com/ARMmbed/mbed-os-example-client#requirements-for-non-k64f-board

This example configuration generates following build error:

[code]

I think correct configuration for the ```mbed_app.json``` file is something like this:

[code]

[2016-09-16 15:15] toyowata commented on #84
Same as https://github.com/ARMmbed/mbed-os-example-client/issues/83

[2016-09-16 19:29] BlackstoneEngineering commented on #78
Please put status_led and led1 on different LED's. It would be even better if you did not use a blinking patten to signify success but rather ran the blinking pattern on failure and a solid LED on success.

[2016-09-16 19:29] BlackstoneEngineering commented on #78
As it is the constant blinking makes it very hard to demonstrate the client / connector quickstart

[2016-09-18 05:00] ciarmcom commented on #84
ARM Internal Ref: IOTCLT-1031

[2016-09-18 05:00] ciarmcom commented on #83
ARM Internal Ref: IOTCLT-1032

[2016-09-19 06:32] yogpan01 commented on #81
Hi,
You need not set that interface anymore, you can leave it to be LwIP_IPv4 , and set the Nanostack Interface and pass it to set_platform_network_handler().
Just check the example implementation.

[2016-09-19 06:32] #81 closed

[2016-09-19 06:34] yogpan01 commented on #83
@mridup Can you please list your mbed-cli and mbed-os versions ?

[2016-09-20 10:59] yogpan01 commented on #84
The latest mbed-os and mbed-cli seems to have different behaviour with config json parameters, this needs to be moved to mbed-os team to verify and propose what has changed. Client can only change documentation when its sure how the mbed Configuration mechanism is working.
@bogdanm @0xc0170 @c1728p9  Please check this and propose what is the correct way to pass these parameters?

[2016-09-20 11:04] yogpan01 commented on #83
The latest mbed-os and mbed-cli seems to have different behaviour with config json parameters, this needs to be moved to mbed-os team to verify and propose what has changed. Client can only change documentation when its sure how the mbed Configuration mechanism is working.
@bogdanm @0xc0170 @c1728p9 Please check this and propose what is the correct way to pass these parameters?

[2016-09-20 11:34] janjongboom commented on #80
@yogpan01 @geky Same issue for me, also breaks Simple mbed Client. How can this not be a priority?

[2016-09-20 11:54] yogpan01 commented on #80
@janjongboom which ARMCC build are you using ?

[2016-09-20 16:41] janjongboom commented on #80
@yogpan01 Online compiler. Load mbed-os-example-client in the online compiler, add security.h, compile -> does not do anything on my K64F...

[2016-09-22 06:24] sg- commented on #84
@toyowata is correct, macros_add should be used.

[2016-09-23 02:30] SYuPing opened #86 "problem for sending packet between SED and router"
Hi,

I set two endpoints(1 router, 1 sleepy end device) to connect to mDS within gateway, I want to let SED send a packet to router by thread in this example, is this possible and how do I do this?

Many thanks.

[2016-09-23 06:10] yogpan01 commented on #86
@artokin @mikter Can you please provide info for this query ?

[2016-09-23 07:50] ciarmcom commented on #86
ARM Internal Ref: IOTCLT-1039

[2016-09-26 10:32] mikter commented on #86
This is not thread issue as thread only gives IP connectivity.

@hasnainvirk can you help how to use socket API to send message to othre device in internet.

[2016-09-29 02:26] SYuPing commented on #86
@mikter What you mean is I could use socket(e.x UDP) API content address which is IPv6 preifx + device EUI64 address to finish it?

[2016-09-29 07:46] hasnainvirk commented on #86
@SYuPing I gave example code with instructions to Sam. Please contact him.

[2016-10-03 05:34] SYuPing commented on #86
@hasnainvirk Thanks a lot, it is very useful for us.
This problem is gonna be solved and I close this issue.

Thanks.

[2016-10-03 05:34] #86 closed

[2016-10-06 02:39] SYuPing opened #93 "The device connection problem"
Hi,

In my testing environment, there is one router(K64F+6lowpan shield) connected with gateway and registered on mDS.
I set the led status to blink blue led instead red in main code.(in this case is blinking red led originally)
And after about 3 hours(not exactly, but it would really take a long time), my router will disconnect with both mDS and gateway, also the red led will blink rapidlly but I

[2016-10-06 03:49] ciarmcom commented on #93
ARM Internal Ref: IOTCLT-1075

[2016-10-06 07:33] teetak01 commented on #93
Hi @SYuPing

1+2) Red led blinking can also signal Hard Fault, that would of course drop the device offline

[2016-10-07 08:07] anttiylitokola commented on #93
Hi, we have made several fixes for reconnection logic which will be part of mbed-os 5.2 release. Please, try again once the release comes public.

[2016-10-07 08:13] jankii01 commented on #93
Hi,

mbedOS development is really open source, so all that work is visible already in GitHub.

https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.2

For a quick look for that. Can you get out any logs via the serial?

[2016-10-07 14:45] stevew817 opened #94 "Example is no longer working with 6LoWPAN"
When doing 'mbed add atmel-rf-driver', it adds the atmel-driver-rf repository on the master branch. It looks like there have been changes there that are not interoperable with the mbed client example causing the build to fail.

Either add a .lib pointing to the right commit to get this to work, or update the readme, please.

[2016-10-07 15:49] ciarmcom commented on #94
ARM Internal Ref: IOTCLT-1079

[2016-10-10 07:28] yogpan01 commented on #94
@hasnainvirk @SeppoTakalo Please look into this .

[2016-10-24 06:16] teetak01 commented on #94
@stevew817 we have made numerous fixes to the example last week. Also the README has been updated. Your issue should be resolved now. Sorry for the delay.

[2016-10-24 06:17] teetak01 commented on #93
@SYuPing do you still have issues with the connectivity? Can you test with the latest changes if you are still experiencing problems.

[2016-10-25 01:31] SYuPing commented on #93
Oh...sorry, I'll try to change my software stack to mbed OS 5.2.
And I close this issue now,
Thanks a lot.

[2016-10-25 01:31] #93 closed

[2016-10-26 06:43] yogpan01 commented on #84
@toyowata Can this be closed now ? This has been tested through OOB testing for mbed OS 5.2 and it works fine. Also, we are now asking user to NOT use this feature as it compromises security.

[2016-10-26 06:45] yogpan01 commented on #83
Please re-test this with latest mbed OS 5.2 and client example. However, it is strongly recommended NOT to disable security through this work-around.
Please check this https://github.com/ARMmbed/mbed-os-example-client#supported-target-hardware-configurations and also
https://github.com/ARMmbed/mbed-os-example-client#requirements-for-non-k64f-boards again

[2016-10-26 06:55] toyowata commented on #84
@yogpan01 Thanks.

[2016-10-26 06:55] #84 closed

[2016-10-26 07:00] Metaswd opened #100 "Sub-G environment, mesh network could not work, scan fail"
I use this example and keep scan no beacon.

Here is my device
Gateway: FIREFLY 6LOWPAN GATEWAY 900MHZ
Mesh_6lowpan_ND: FRDM-K64F board + mbed 6LoWPAN shield (AT86RF212B)

**I think my Gateway has already up, here is the bootstrap ready log**
====== Gateway log ======
Eth bootstrap ready, IP=fd00:ff1:ce0b:a5e0:fec2:3dff:fe04:81e9
6Lowpan bootstrap ready, IP=fd00:ff1:ce0b:a5e0:0:ff:fe00:31e1
Destin

[2016-10-26 07:49] ciarmcom commented on #100
ARM Internal Ref: IOTCLT-1154

[2016-10-26 08:02] yogpan01 commented on #100
@SeppoTakalo Please look into this.

[2016-10-26 12:54] SeppoTakalo commented on #100
Hi @meta-johnny

Where did you get the binary for the SubGhz gateway?
Are you sure that it is the sub-Ghz one?

Can you check does it print out the channel number?

Problem might be that the gateway is running a binary for 2.4 GHz (same driver) but it is just unable to send anything.

[2016-10-26 13:03] meta-johnny commented on #100
Hi @SeppoTakalo ,

Actually we tired two kinds of method with two devices, one is to use the Gateway Sub-G device and the other one is using Sub-G Shield with K64F board as Border Router.

For K64F board with Sub-G shield, we are pretty sure the channel page and channel is set the same as the K64F Sub-G End Device, since we can get the source code and modify the settings. We printed and make sure

[2016-10-27 11:42] SeppoTakalo commented on #100
Binaries published in Github are for 2.4 Ghz version of the gateway board, so clearly those are not right ones.

I will look for SubGhz shield and start investigating the K64F border router.

[2016-10-27 23:03] meta-johnny commented on #100
Hi @SeppoTakalo

Thank you for the information.
Do you know who should I contact with for the Sub-G gateway board binary? Or at least we can configure to use the right channel.

Thank you

[2016-10-31 12:18] SeppoTakalo commented on #100
@Metaswd I cannot replicate the problem.

I tested with SubGhz gateway using channels 1 and 10. Both seems to work.

First trial with `mbed-os-example-mesh-minimal`
[code]

Then with client example
[code]

If you have SubGhz mbed gateway, you can test with attached binary

[gateway6LoWPANStatic.bin.zip](https://github.com/ARMmbed/mbed-os-example-client/files/561682/gateway6LoWPANStatic.bin.zip)

[2016-10-31 12:35] SeppoTakalo commented on #100
Also verified that using K64F border router this also works.

I did following changes:
[code]

**Steps to verify:**

1. Clone K64F border router app.
1. Set BR channel to something between 1 - 10 from `mbed_app.json`. Set also channel mask to correct (see example).
1. Build & flash
1. Clone mesh application, either this or mesh-minimal
1. Set same channel values into `mbed_app.json`
1. Build & fla

[2016-10-31 12:36] Metaswd commented on #100
@SeppoTakalo

May I confirm with you again?  Do you mean the binary is for the Gateway device (Atmel MCU +Atmel SubG)? (We did purchase an Gateway device from Firefly)

It's late night here so we will try tomorrow morning. Thank you very much for the testing and helpful information.

[2016-10-31 12:56] SeppoTakalo commented on #100
Yes. It checked and the binary should work for both 2.4 Ghz and SubGhz.
For subGhz channel 1 is used, for 2.4 Ghz channel 12 is used.

It should use static IPv6 address.

One problem that comes to my mind is that do you have test environment where IPv6 addresses are available in ethernet.
If that is not the case, the dynamic border router does not start. It waits for IPMPv6 Router adverticement me

[2016-10-31 13:25] Metaswd commented on #100
@SeppoTakalo
Thank you, we will check and hopefully we can make them works. Will feedback here if there is any update.

[2016-11-01 02:37] Metaswd commented on #100
@SeppoTakalo

It works now for a K64F+shield connect with Gateway device. We found that we have a bad shield board result in the connection issue, after replace it and follow your step it works now. We will close this issue and thank you again.

[2016-11-01 02:37] #100 closed

[2016-11-01 07:49] SYuPing opened #104 "Problem of building project"
Hi,

I wanted to update my mbed-os 5.1.2 to 5.2 and I tried to build this project , but it got some trouble,
the error message is as below.

C:\Users\04070\WIFI test\mbed-os-example-client-master>mbed compile -m K64F -t G
CC_ARM
Building project mbed-os-example-client-master (K64F, GCC_ARM)
Scan: .
Scan: FEATURE_BLE
Scan: FEATURE_COMMON_PAL
Scan: FEATURE_LWIP
Scan: FEATURE_UVISOR
Scan: FEATURE_LOW

[2016-11-01 08:49] ciarmcom commented on #104
ARM Internal Ref: IOTCLT-1175

[2016-11-01 14:15] SeppoTakalo commented on #94
This should be closed as the original issue has been fixed.

[2016-11-02 07:52] jankii01 commented on #104
Hi,

to which github hash is your mbed-os.lib pointing to?

[2016-11-02 08:32] teetak01 commented on #104
Hi @SYuPing, could you `rm -rf mbed-os `& `mbed deploy` ? That should fix any possible issues in mbed-os folder.

[2016-11-03 06:20] SYuPing commented on #104
Hi, @jankii01  my mbed-os.lib pointing to
https://github.com/ARMmbed/mbed-os/#8a9a2463563af3ffb8d289905d3f7073a46ecc80

Hi, @teetak01  I tried....but...it still fail......the result is same as above.....

[2016-11-03 06:54] jankii01 commented on #104
It's not pointing to an official version of mbed OS then. Can you pull in the latest version of this branch, stash your changes 1st.

[code]

(Better yet if you have no changes in the repo, rm -rf the whole mbed-os-example-client and do a clean git clone). I've noticed that mbed somehow messes up the repos somehow and then it fails with all kinds of strange symptoms.

We have a CI system running t

[2016-11-03 06:55] jankii01 commented on #104
mbed-os 5.2 is https://github.com/ARMmbed/mbed-os/#1d875083b701a5e530f97ba615e2c0d2060d09e5
mbed-os 5.2.1 is https://github.com/ARMmbed/mbed-os/#e435a07d9252f133ea3d9f6c95dfb176f32ab9b6

[2016-11-03 07:04] jankii01 commented on #104
The point where it tries to compile the BusInOut.cpp is very different than what it is for me (I just built it),

[code]
while in your log print it was only at 0.3%.

[2016-11-03 13:35] anttiylitokola commented on #78
Changes are now available in master. I'll close this ticket now.

[2016-11-03 13:35] #78 closed

[2016-11-04 02:41] SYuPing commented on #104
Hi, @jankii01

The error still exist as I follow the step which you commented...
I copied and paste mbed-os 5.2.1 is https://github.com/ARMmbed/mbed-os/#e435a07d9252f133ea3d9f6c95dfb176f32ab9b6 to my mbed-os.lib

also enter the command as below

git stash
git pull origin master
git stash pop
(hopefully there are no conflicts)
rm -rf mbed-os
mbed deploy

but still got the error...

here is the erro

[2016-11-04 08:47] jankii01 commented on #104
Hi @SYuPing,

have you done any changes? I would feel tempted now to manually copy your latest changes somewhere (git format patch for example, each repo separately). Then clean up the whole client work area, git clone that from clean and re-build. That way you would know if the setup is still working or not. Once you get the basic, vanilla case building completely - start re-applying your changes

[2016-11-04 08:57] teetak01 commented on #104
@SYuPing a few things I would like you to check:

- do you have any git-repositories in top level folders, like in: WIFI test, 04070 folders? mbed-cli is pretty sensitive to nested git-repositories and that can cause wierd issues
- can you confirm that you do not have any extra folders in your project? Maybe add the top level folder contents of your project for debugging
- I presume you have been

[2016-11-04 10:01] SYuPing commented on #104
Hi, @jankii01  , @teetak01

Yes, I have the same poject name in top level folders, after I delet that, It can work now!!

Maybe mbed-cli compil with two same folders as you said.
So the problem is solved now, I'm very appriciate for your help.
Many thanks.

Close this issue.

[2016-11-04 10:01] #104 closed

[2016-11-07 08:15] ccli8 opened #106 "Meet SecureConnectionFailed error"
I've updated `security.h` but still meet the SecureConnectionFailed error. The example worked before.
### Target: K64F
### Toolchain: ARM/GCC_ARM
### Network interface: WiFi
### mbed-os-examle-client version: mbed-os-5.2.1
[code]
### VCOM message:
[code]

@cyliangtw

[2016-11-07 08:49] ciarmcom commented on #106
ARM Internal Ref: IOTCLT-1191

[2016-11-07 08:52] devran01 opened #107 "DNS resolution failure in Thread mode"
I've configured the example as a thread end node and it seems like the DNS resolution is failing. I'm getting following error with trace enabled.
[code]
Digging in deeper, `pal_getAddressInfo()` method in `void M2MConnectionHandlerPimpl::dns_handler()` is failing.

[2016-11-07 12:51] ciarmcom commented on #107
ARM Internal Ref: IOTCLT-1194

[2016-11-07 13:15] anttiylitokola commented on #106
@geky, can you please check if there is an any issues in WiFi side?

[2016-11-07 14:44] teetak01 commented on #94
Hi @stevenewey I'll close this issue now. Please open a new ticket if you see new issues. Thank you for reporting.

[2016-11-07 14:44] #94 closed

[2016-11-07 14:48] yogpan01 commented on #107
@devran01 Seems that there is a regression introduced with mbed-os-5.2.1 and its not connecting . There is a PR #108 with reverting to previous working mbed-so release.

[2016-11-08 07:43] yogpan01 commented on #107
@devran01 We have reverted the mbed-os 5.2.1 to mbed-os 5.2.0 to resolve the issue, please do the git pull on repository and do `mbed deploy` to revert back to mbed-os 5.2.0

[2016-11-08 07:44] yogpan01 commented on #106
Hi, There seems to be some regression in mbed-os 5.2.1 release, we have reverted the mbed-os to 5.2.0 , please do a git pull on this repo and do `mbed deploy`  to revert back the mbed-os version and verify.

[2016-11-08 07:45] yogpan01 commented on #83
Hi, We are assuming that this is resolved for you, in case if it is still an issue please reopen this issue or open a new one.

[2016-11-08 07:45] #83 closed

[2016-11-08 07:49] yogpan01 commented on #80
Hi, there is a new release for mbed OS 5.2 and if there is still an issue with WiFi or some compile version, I suggest to open it up on mbed-os repository as that is the right place to handle such issues, mbed Client only uses those APIs just like any other application and if you are experiencing issues like non-connection on different compiles, it has to be raised on mbed-os.

[2016-11-08 07:49] #80 closed

[2016-11-08 09:36] ccli8 commented on #106
Yes, mbed-os 5.2.0 is OK, but mbed-os 5.2.1 is failed. Do you have a plan to merge the fix to master branch of mbed-os?

[2016-11-08 16:23] yogpan01 commented on #106
That needs to be handled by mbed-os. We have raised an internal issue with mbed-os and hopefully they can fix and release it in next version. I am closing this issue for this time though.

[2016-11-08 16:23] #106 closed

[2016-11-08 20:18] jankii01 commented on #106
Hi,

mbedOS team will of course fix this issue to some upcoming release.

[2016-11-09 00:14] geky commented on #107
Does https://github.com/ARMmbed/mbed-os/pull/3232 fix this issue?

[2016-11-11 11:01] javier-moreno-tridonic-com opened #112 "Client fails to initialise the RF shield for target NUCLEO_F401RE (based in mbed 5.2)"
The build based on commit c57e5ecb74e9d94cd0e3463a3d7ed7872c966324 not working for target NUCLEO_F401RE and using the GCC_ARM toolchain.

Everytime that I try to execute the resulting binary on my demo board I end up with the following error:

Further digging showed that the it fails to initialise the RF shield since the call to **rf_radio_type_read()** returns **ATMEL_UNKNOW_DEV**

I attached an

[2016-11-11 11:21] karsev commented on #112
@maansaari

[2016-11-11 12:49] ciarmcom commented on #112
ARM Internal Ref: IOTCLT-1246

[2016-11-11 12:50] yogpan01 commented on #112
@SeppoTakalo Can you please look into this ?

[2016-11-11 13:23] TuomoHautamaki commented on #112
@sg- , please investigate

[2016-11-11 17:05] sg- commented on #112
Not supported in https://github.com/ARMmbed/mbed-os-example-client#supported-target-hardware-configurations

Known issue. https://github.com/ARMmbed/oob-mbed-os-example-client/issues/15

[2016-11-14 09:59] javier-moreno-tridonic-com commented on #112
After reading the pointers and causes commented in ARMmbed/oob-mbed-os-example-client#15 managed to run it by making the following changes to the example:

---
In **simpleclient.h** Replace:
[code]

With
[code]
---
In **mbed_app.json**

---
In *mbed-os\targets\TARGET_STM\TARGET_STM32F4\TARGET_NUCLEO_F401RE\PinNames.h*

Since PA_5 is used by the SPI clock LEDs need to be "rewired" to an unused pin

[2016-11-14 09:59] #112 closed

[2016-11-15 18:36] devran01 commented on #107
@yogpan01 with the commit c57e5ecb74e9d94cd0e3463a3d7ed7872c966324, this issue is not observed anymore and device registers successfully with connector.

@geky I didn't try  https://github.com/ARMmbed/mbed-os/pull/3232

[2016-11-15 18:36] #107 closed

[2016-11-21 07:51] markus-becker-tridonic-com opened #113 "Source port randomization"
Looking at
https://github.com/ARMmbed/mbed-os-example-client/blob/master/simpleclient.h#L108
the random source port might be <1024 and thus selecting a registered port. Which might be no problem. At the same time randomly you might choose 5683 (or other locally used ports) by chance. Which might break things. OK, not in this application, but since it is a reference application it might make sense,

[2016-11-21 08:49] ciarmcom commented on #113
ARM Internal Ref: IOTCLT-1265

[2016-11-22 15:01] jankii01 commented on #113
Hi @markus-becker-tridonic-com ,

the easiest fix will actually be to change it so that it sets port = 0;
that way we will use the pretty de-facto way of letting the network stack randomize the port.
However, it seems we'll have to get mbedOS 5.3 release in before we can do that.

[2016-11-29 14:30] rdoume opened #125 "Socket error with 6lowpan"
Hey there,
I currently have an issue with the example client, and after trying all i could think, i thought you might have an idea.
My client is one board K64f with the firefly shield in 6lowpan_nd mode, one other K64f in border router mode connected to my pc by ETH, and my LWM2M server being a local leshan server.
I am able to send regular UDP packet from my client board to my computer, and i'm a

[2016-11-29 16:49] ciarmcom commented on #125
ARM Internal Ref: IOTCLT-1275

[2016-12-01 12:17] jankii01 commented on #125
Hei,

It's using UDP mode - which network interface are you using? There are many firewalls that have issues with UDP and they close the UDP "hole" after certain time. It is possible you're hitting this issue. If you can, could you try with TCP? Please see section "Changing socket type" in the README.md.

[2016-12-01 13:51] rdoume commented on #125
The interface would be an eth interface between my 6lowpan border router (https://github.com/ARMmbed/k64f-border-router) and my computer. My client is a node in the 6lowpan network, and therefore uses the AT86RF233, and is connected to the border router and the backhaul.

The TCP mode does not change a thing.
I do not think it's due to my firewall, as, like I said, I can send regular UDP packet th

[2016-12-01 16:15] teetak01 commented on #125
@rdoume which version of mbed-client.lib and mbed-os.lib are you using? We recently fixed one issue in client related to WIFI + mbed-os also had some regression with mesh which has been fixed already.

[2016-12-01 16:21] rdoume commented on #125
My mbed-os.lib is  https://github.com/ARMmbed/mbed-os/#d5de476f74dd4de27012eb74ede078f6330dfc3f
and my mbed-client.lib is : https://github.com/ARMmbed/mbed-client/#1c03b36ac944532688a39d9a6bd7f8a42aecf8f3

[2016-12-01 16:50] teetak01 commented on #125
@SeppoTakalo can you check this? It would seem to failing in DNS-handler.

[2016-12-02 03:50] ccli8 commented on #106
I check with mbed-os-5.3.0-rc1 and the issue is fixed.

[2016-12-02 10:27] betzw opened #130 "Stack overflow"
When first using the POST and then the PUT methods I get a stack overflow error as follows:
[code]

[2016-12-02 12:18] SeppoTakalo commented on #125
I tested client on top of LwIP using IPv6 and results are the same:
[code]
Using mbed-OS-5.3-RC1

[2016-12-02 12:49] ciarmcom commented on #130
ARM Internal Ref: IOTCLT-1283

[2016-12-05 08:14] teetak01 commented on #130
Thanks for reporting, we'll check this.

[2016-12-05 18:26] jankii01 commented on #125
Hi,
would be interesting to get the same results from mbed-OS 5.2.0  (#e435a07d9252f133ea3d9f6c95dfb176f32ab9b6).

[2016-12-09 12:25] jankii01 commented on #125
Hi,

we have been struggling witha bit of a similar case here. The image you compiled for the client (not the border router), what is the mbed_app.json for it like? Seems having too many features turned on there can yield issues like this.

[2016-12-09 19:16] MarceloSalazar opened #136 "Thread SED configured with TCP fails"
Tested 5.3-rc3 (https://github.com/ARMmbed/mbed-os-example-client/tree/mbed-os-5.3-rc3)

Default option TCP fails. When changed to UDP works ok (device is registered in mDC).

Platform K64. Atmel RF.

[mbed_app.json.txt](https://github.com/ARMmbed/mbed-os-example-client/files/642975/mbed_app.json.txt)

[code]

@jankii01

[2016-12-09 19:27] MarceloSalazar opened #137 "Add default JSON files to 'config' folder"
There are lots of configurations available for this example. Modifying 'mbed_app.json' is becoming tedious.

I suggest to create a 'config' folder and add multiple json files that could be reused by the user (by copying it to the root directory and renaming to 'mbed_app.json'). Suggestions:

- Ethernet_IPv4
- Ethernet_IPv6
- Wifi_IPv4
- Mesh_6LoWPAN_AT233
- Mesh_Thread_SED_AT233
- Mesh_Thread_Rout

[2016-12-09 20:49] ciarmcom commented on #137
ARM Internal Ref: IOTCLT-1302

[2016-12-09 20:49] ciarmcom commented on #136
ARM Internal Ref: IOTCLT-1303

[2016-12-10 19:48] jankii01 commented on #137
I have to say that would make sense. We have some rather nifty execute sed /s stuff in the Jenkins scripts etc., those could be simplied to simple cp config/xxx.json mbed_app.json -calls.

[2016-12-10 19:50] jankii01 commented on #136
True, mesh only supports UDP.

[2016-12-10 19:51] jankii01 commented on #136
Please see this for example; https://github.com/ARMmbed/mbed-os-example-client/pull/124

[2016-12-11 08:05] jankii01 commented on #136
This fixes it: https://github.com/ARMmbed/mbed-os-example-client/pull/139

[2016-12-11 08:08] jankii01 commented on #136
@MarceloSalazar - please confirm the fix.

[2016-12-11 10:39] MarceloSalazar commented on #136
@jankii01 thanks for the fix. I'm going to test this tomorrow asap.

In the meantime, could you have a look to the markdown doc?

- IP address setup (https://github.com/ARMmbed/mbed-os-example-client#ip-address-setup)
Ethernet now supports IPv4 and IPv6. How to select this is unknown.

- Changing socket type (https://github.com/ARMmbed/mbed-os-example-client#changing-socket-type)
Need to explain w

[2016-12-12 03:39] SYuPing opened #141 "Fail building with uvision5"
Hi,

I want to use Keil to build this project, and I command "mbed export -i uvision5" on mbed-cli,
Then I open the file which was exported and try to build, but the error shows:

Error: *** Project 'mbed-os-example-client-master', Target 'mbed-os-example-client-master', Device 'Freescale::MK64FN1M0xxx12' is not supported by Toolchain ! ***.
Build Time Elapsed:  00:00:00

How to solve this?
the to

[2016-12-12 04:49] ciarmcom commented on #141
ARM Internal Ref: IOTCLT-1304

[2016-12-12 13:00] SeppoTakalo commented on #141
Use Keil pack installer to install the support packages for these boards.

![screen shot 2016-12-12 at 14 57 51](https://cloud.githubusercontent.com/assets/3104794/21100195/6b98da84-c07b-11e6-900e-294cce851d8c.png)

For me, its in `C:\Keil_V4\UV4\PackInstaller.exe`

Search for `K64F`
On the right panel, install required packs.

[2016-12-12 21:38] jankii01 commented on #130
It's likely having a stack overflow, as it calls itself in a repeat manner with the timer - there's so many entries in the LED pattern.

[2016-12-13 11:05] MarceloSalazar commented on #136
I confirm the original issue is fixed:

Tested latest commit (https://github.com/ARMmbed/mbed-os-example-client/commit/8ce84b520ae0da685bf800addd4dcfc8401acc58) on mbed-OS-5.3 branch.

K64, GCC_ARM, mbed GW
Device successfully registered in mDC.

[2016-12-13 11:05] #136 closed

[2016-12-13 11:17] MarceloSalazar opened #146 "OOB - Missing instructions on enabling Ethernet IPv6"
Please add info to the docs asap - branch mbed-os-5.3

@jankii01 @0xc0170 @adbridge

[2016-12-13 12:49] ciarmcom commented on #146
ARM Internal Ref: IOTCLT-1305

[2016-12-13 14:24] MarceloSalazar commented on #146
Instructions have been added here:
https://github.com/ARMmbed/mbed-os-example-client/commit/a9a3580ff91ad6ba5afaed47e2bd8ab13012aca7

[2016-12-13 14:24] #146 closed

[2016-12-14 02:57] SYuPing commented on #141
OK, I could build project after I installed required packs.
Thanks a lot.

Close this issue

[2016-12-14 02:57] #141 closed

[2016-12-14 07:56] jankii01 commented on #125
Hi @rdoume,

with ethernet on IPv6 I was able to easily create a similar situation, though I'm not 100% sure if this will apply to you. Please check the mbed_app.json you used for creating the client (not the border router), does it include both "LWIP" and "NANOSTACK"? If it does, please remove the "LWIP".

[2016-12-14 16:18] jankii01 commented on #137
Closing this issue, master has now those.

[2016-12-14 16:18] #137 closed

[2016-12-20 14:36] jankii01 commented on #113
Hi @markus-becker-tridonic-com,

we have now merged this in:

https://github.com/ARMmbed/mbed-os-example-client/commit/ece732d633323c8a2412770eba528f260433a93f

- please let me know, if you're OK with this?

[2016-12-22 08:01] jankii01 commented on #125
Hi, @rdoume  - any updates on this case?

[2016-12-22 09:19] rdoume commented on #125
Hi, I'm on leave until beginning January and cannot answer your questions.
However I managed to make it work somehow, without knowing how. But what you posted about too many features in the mbed_app.json might be it. I'll test is first week of January

[2016-12-22 11:43] jankii01 commented on #125
Thank you @rdoume, excellent to hear you got it working, with your permission I'd like to close this ticket.

[2017-01-05 11:44] JanneKiiskila commented on #125
Closing this out.

[2017-01-05 11:44] #125 closed

[2017-01-23 11:12] MarceloSalazar opened #167 "Send data only if the device is successfully registered"
We see the application starts sending data periodically to mDC, regardless on whether the device is registered or not.
I believe this doesn't makes sense, as it confused people (especially when the application is not working correctly due to other reasons).

Could you please consider putting the data transmission on hold until the device is successfully registered?

[2017-01-23 12:48] ciarmcom commented on #167
ARM Internal Ref: IOTCLT-1394

[2017-01-25 12:56] andcor02 opened #168 "Broken: UBLOX_EVK_ODIN_W2 (Ethernet)"
Importing example and switching to target UBLOX_EVK_ODIN_W2 as Ethernet or WiFi, compile all fine, flashes fine.

**ISSUE**
1. Board just hangs, outputs "Connecting to ethernet..." but nothing else happens?

2. When using WiFi, connects to network and registers, however after one button press on 'SW1' again device hangs.

?

[2017-01-25 13:23] teetak01 commented on #168
Hi, @andcor02 there is some flashing related issues with the UBLOX. If you try flashing the same binary twice (or do it  in windows) it should work better.

[2017-01-25 13:31] andcor02 commented on #168
@teetak01

Tried both options still the same issue, i think the WIFI issue is also related.

[2017-01-25 16:48] ciarmcom commented on #168
ARM Internal Ref: IOTCLT-1402

[2017-01-25 21:04] JanneKiiskila commented on #168
Hi @andcor02,

can you share more details on your project. I have tested the UBLOX in OOB testing and it worked then and well, just tried it out in our RaaS with WiFi and it seems to work. I can't access the HW physically so I can't try what the button press would do - but at least the simulated events go through just fine.

Ethernet I also tried, but I can't be 100% sure now the ethernet is even

[2017-01-25 21:06] JanneKiiskila commented on #168
@andcor02 - this;

Board just hangs, outputs "Connecting to ethernet..." but nothing else happens?

-> usually means it can't get an IP address for one reason or another.

[2017-01-26 08:59] JanneKiiskila commented on #168
With WiFi on - the device has stayed stable whole night, button_click counter is now 2827 and I can read it with REST API etc.

[2017-01-26 09:00] JanneKiiskila commented on #168
@andcor02  - By default the buttons do not do anything in the client example - so some modifications have been made, can you share those?

[2017-01-26 09:05] andcor02 commented on #168
Hi Janne,

Thanks for all the help.

The Ethernet issue I'm still not sure of, just doesn't seem to get an IP.

And yes i modified the example at the latest revision to allow the interrupt to happen on physical button.

I have attached my example program here if it helps: https://developer.mbed.org/users/andcor02/code/mbed-os-demo-client-WiFi-notPUBLISHED/

Regards,

Andrea

[2017-01-26 09:19] andcor02 commented on #168
@JanneKiiskila

I should also add, i have tested this base program above on two other platforms and has worked just fine, the is the only one throwing problems.

[2017-01-26 14:21] JanneKiiskila commented on #168
@andcor02  -- REAMDE.md updated via https://github.com/ARMmbed/mbed-os-example-client/pull/169, that was erroneus. Not able to get UBLOX ethernet working on this end either, but WiFi works so I'm not seeing an issue with the mbed-os-example-client itself that needs fixing at this stage.

Issues are with UBlox ethernet driver - need to have an mbedOS issue open for that separately, which the UBLOX

[2017-01-26 14:25] andcor02 commented on #168
@JanneKiiskila

Are you able to toggle SW1 and see it update it in connector?

This is the issue and workflow i have, i can see it update once, but then the whole system seems to hang?

Have you tried my example?

Thanks a lot :)

[2017-01-26 14:38] JanneKiiskila commented on #168
Haven't tried the example, haven't had the time.

[2017-01-27 07:45] JanneKiiskila commented on #168
Actually, the ethernet also WOULD work - but ONLY if you know the tricks, there's some EMAC limitation now and the WiFi is the one that works by default.

Quote from:  https://developer.mbed.org/platforms/ublox-EVK-ODIN-W2/

"Only possible to use either Wi-Fi or Ethernet as MAC-interface, not both at the same time. This is a limitation in mbed-os currently. Wi-Fi is enabled by default. To use Ethe

[2017-02-01 07:44] JanneKiiskila commented on #168
Based on my testing, you can't do the overwite via mbed_app.json - it should happen this way;

https://github.com/ARMmbed/mbed-os-example-sockets/blob/master/mbed_app.json#L3

BUT - the only way I got it working was to directly remove the "EMAC" from mbed-os/TARGETS/targets.json file under the UBLOX_EVK_ODIN_W2 entry.

[2017-02-01 10:08] JanneKiiskila commented on #168
Well, managed to create an mbed_app.json that actually works with UBLOX as well.

[2017-02-01 11:29] JanneKiiskila commented on #168
https://github.com/ARMmbed/mbed-os-example-client/pull/173 PR is in now.

[2017-02-02 08:23] JanneKiiskila commented on #168
Closing out, ethernet and WiFi both work in the example client.

[2017-02-02 08:23] #168 closed

[2017-02-02 10:20] adustm opened #174 "mbed_apps.json: Cannot remove "NANOSTACK" from "target.features_add""
Hi,
I am trying to use wifi (ESP8266 module) together with a NUCLEO_F429ZI platform.
I modified the mbed_apps.json based on the configs.wifi_v4.json file
[code]
But then typing `mbed compile -t GCC_ARM -m NUCLEO_F429ZI` does not work. I need to add `"NANOSTACK"` to make the compilation successfull again.
It looks like mbed tries to compile the atmel driver, but as nanostack is not defined, it does

[2017-02-02 10:53] MarceloSalazar commented on #174
There is a 'hack' needed as workaround to that build problem. See info here.
https://github.com/ARMmbed/mbed-os-example-client#compilation-problems

We also recommend using the pre-defined json files:
https://github.com/ARMmbed/mbed-os-example-client/tree/master/configs

We apologies for the inconvenience this has caused to you. We'll try to fix this soon.

[2017-02-02 12:49] ciarmcom commented on #174
ARM Internal Ref: IOTCLT-1436

[2017-02-03 13:21] adriankueng opened #175 "Problem connecting mbed os example client with dtls enabled to Leshan"
I´m trying to connect a mbed os client with DTLS to a Leshan. First I used to connect to the ARM connector with their credentials and it worked properly. The next thing I tried was a setup with a local leshan with the PSK ciphersuite, but i could not get it working. So i switched to the Certificate ciphersuite, where I got it running one time, but they only exchanged one package each. Since then I

[2017-02-03 16:48] ciarmcom commented on #175
ARM Internal Ref: IOTCLT-1440

[2017-02-06 13:36] markus-becker-tridonic-com commented on #175
FYI: @MarceloSalazar @devran01

[2017-02-06 13:37] JanneKiiskila commented on #168
@andcor02  - please see this issue; https://github.com/ARMmbed/mbed-os/issues/3699
I think the SW0/SW1 do not have the correct mappings in mbedOS.
These mappings do nothing for me, but the client is NOT stuck. It responds just nicely to the PUT/POST requests, so it's running.

[2017-02-07 17:19] janjongboom commented on #167
I believe this should be handled by mbed Client.

Writing to a resource before registering should be allowed, but just not yield a call to Connector.

[2017-02-07 17:33] yogpan01 commented on #167
@MarceloSalazar Do you mean the console prints are confusing to the users in case of non-K64F boards?

[2017-02-07 17:42] yogpan01 commented on #175
Hi,
Can you try to pass Server certificate here
```const uint8_t SERVER_CERT[] =  ´ Server certificate from truststore.jks alias server´ ```

[2017-02-07 18:02] MarceloSalazar commented on #167
Correct. Console prints are confusing and shouldn't be displayed until the device is registered (I tried this on a non-working NUCLEO platform and was still seeing printf messages).

[2017-02-07 23:01] janjongboom commented on #167
I don't agree. It's fine to show the updated state of f.e. a button. As long as the correct value is sent to Cloud when register happens.

It would be confusing if a user presses a button before registering and no message shows.

[2017-02-08 13:52] adriankueng commented on #175
I got it working:

I had to add the CN of the client in `mbed-client\security.h` like this:
*cn = common name; can be found in the certificate*

    #define MBED_ENDPOINT_NAME "cf-client"

And increase the RetransmissionTimout-Time of the Leshan in
`leshan\leshan-server-cf\src\main\java\org\eclipse\leshan\server\californium\impl\LeshanServer.jav`

	builder.setRetransmissionTimeout(10000);

Last bu

[2017-02-08 13:59] teetak01 commented on #167
Maybe we could just add check for the `bool registered` and not do simulated button_press if that is false? Is this the issue?

[2017-02-08 18:23] MarceloSalazar commented on #167
I understand what @janjongboom is saying and believe he's right: when a push button is pressed, a message should be shown.
However, as we are having a simulated counter (for non-k64), maybe we could postpone the execution until 'registered' is true as @teetak01 is suggesting.
These are ideas, although it's not a critical issue.

[2017-02-10 14:13] masoudr opened #178 "problem on reading a resource value with REST API node-red"
Hi,
I created a simple program with mbed client and mbed os which creates a resource called "/device/0/name" on my device. I can read the resource value with `GET `or `PUT `new value on it with mbed connector dashboard with no problem. I create a node red sample which does the same thing.  If I use this command on my node red it works fine:
`GET https://api.connector.mbed.com/v2/endpoints/<my devi

[2017-02-10 20:48] ciarmcom commented on #178
ARM Internal Ref: IOTCLT-1465

[2017-02-11 09:43] teetak01 commented on #178
@masoudr you must set a notification channel, otherwise the server (api.connector.mbed.com) does not know how to respond to asyncronous requests. Use either PUSH or PULL notifications.

FYI: Your first request is syncronous, the server already has that information and can immediately respond with Response 200. When you ask a specific value from a resource, the server has to go and ask the endpoint

[2017-02-11 14:39] masoudr commented on #178
@teetak01 Thanks for the answer. I get it working with PULL notification. I created 2 flows, the first one sends a GET request with resource path on it for example `GET https://api.connector.mbed.com/v2/endpoints/<my device id>/device/0/name` followed by another with `https://api.connector.mbed.com/notification/pull` with the delay of 1 second. It works but it has some problems sometimes it return

[2017-02-13 08:40] yogpan01 commented on #175
Good that you got this working. I am not sure what you need to do on the Leshan server side.
From client end, once the DTLS handshake is successful, we send the registration message to the server in which we set the endpoint name. So, that's what we do on client and it should appear as registered end point on server side.

[2017-02-16 08:37] yogpan01 commented on #175
Since this is no longer client issue, I am closing this.

[2017-02-16 08:37] #175 closed

[2017-02-16 08:43] yogpan01 commented on #178
Long polling is not recommended and it will give you these issues, if you want a reliable mechanism , you should be using notification callback mechanism.

[2017-02-16 08:43] #178 closed

[2017-02-16 17:25] masoudr commented on #178
You are right, I registered my notification callback channel and it worked better than long polling. But I think it would be better to make long polling fixed because for local servers it is useful. I prefer to set my local web server for using mbed connector rather than a public server, but I think there is no way to use it without the problem.

[2017-02-21 06:52] anttiylitokola commented on #167
Fix merged in. Closing the issue.

[2017-02-21 06:52] #167 closed

[2017-02-23 12:27] finikorg opened #187 "Gateway role"
Can I use frdm-k64f + 802.15.4 shield as a gateway? It has almost the same hardware as a 6lowpan gateway from Firefly, right?

[2017-02-23 12:48] ciarmcom commented on #187
ARM Internal Ref: IOTCLT-1518

[2017-02-23 13:54] yogpan01 commented on #187
@SeppoTakalo Can you please answer this query ?

[2017-02-23 13:55] SeppoTakalo commented on #187
Yes.
The example application is currently here: https://github.com/ARMmbed/k64f-border-router

It uses K64F and Atmel RF shield.
In future, the repository will move and more boards will be supported.

[2017-02-23 14:06] finikorg commented on #187
@SeppoTakalo There is a note there "Note: This Border Router does not support Thread."

[2017-02-23 14:16] SeppoTakalo commented on #187
For mbed OS 5.4 release, we will also publish Thread mesh networking support.

Current one is just in 6LoWPAN-ND mode.

[2017-02-24 12:30] SeppoTakalo commented on #187
I'll close this issue as the question is answered.
For follow up questions you can still use this ticket, thanks.

[2017-02-24 12:30] #187 closed

[2017-02-27 17:05] fwndz opened #192 "Run mbed client in NUCLEO L073RZ"
hi,

I would like to run the mbed client example in different evaluation module like L073RZ with ESP8266 wifi module. Which configuration should I change? I already followed the instructions and made some changes in mbed_app.json. However in the area below which parameters should I `change?
[code]
Where can I enable IPv4 as mentioned from the instruction? After debugging the example, I encountered

[2017-02-27 20:49] ciarmcom commented on #192
ARM Internal Ref: IOTCLT-1527

[2017-02-28 07:06] JanneKiiskila commented on #192
Hi @fwndz

please do not change the configuration. In this case it should be enough that you just

mbed deploy
`cp configs/wifi_esp8266_v4.json mbed_app.json`
<favourite editor> `mbed_app.json`
<change the wifi SSID + password to your needs>
`cp configs/eth-wifi-mbedignore .mbedignore`

and then just `mbed compile` as per usual.

The 1st error
`[Error] easy-connect.h@1,1: unterminated #ifndef`

sh

[2017-02-28 07:17] JanneKiiskila commented on #192
Hi,

@bulislaw @MarceloSalazar @sg-

seems the support for this board is still a bit unfinished, trying to just compile normal ethernet for that board fails. It doesn't seem to know how to ask for "LWIP". Once you add the "LWIP" to mbed_app.json, it still fails.

[code]

[code]
Seems the EMAC / ETH stuff is not finished yet. Same happens also with the ESP8266 as well.

Should this be raised as an

[2017-02-28 07:44] JanneKiiskila commented on #192
Well,

after some tweaking I got it compiling, but doesn't help as it does not fit into the RAM available on that board.

[code]

`mbed_app.json` was like this

[code]

I used the `.mbedignore` by copying it from the `configs/eth-wifi_mbedignore`

[2017-02-28 07:47] #192 closed

[2017-02-28 08:37] JanneKiiskila commented on #192
If you want to try the WiFi on that board - this example seemed to compile & fit in,

https://github.com/ARMmbed/mbed-os-example-wifi

[2017-02-28 15:36] fwndz commented on #192
Hi @JanneKiiskila ,
Thanks for you kind support. I have one quick question, is it possible to send a file by using HTTP POST with this example.
https://github.com/ARMmbed/mbed-os-example-wifi

If yes, can you briefly told me how to implement it with the current libraries provided by mbed.

Cheers

[2017-02-28 15:54] bulislaw commented on #192
There's no out of box support for that. You'll need to have your own HTTP library and connect it manually to FS.

[2017-02-28 16:00] fwndz commented on #192
Hi @bulislaw, Thanks for the answer

[2017-02-28 23:20] bridadan opened #194 "[UBLOX_EVK_ODIN_W2 + IAR] Fails to register over WiFi"
**Branch:** oob_test-mbed-os-5.4

When the UBLOX_EVK_ODIN_W2 is built with the IAR toolchain (with mbed CLI `-t IAR` option, the `-i make_iar` exporter, and the `-i iar` IDE exporter), the device connects to **WiFi** but fails to register with mbed Connector. It works with GCC_ARM and ARM.

@bulislaw Is it possible this is an issue with the IAR binary driver that's present in mbed OS? Does the bas

[2017-02-28 23:24] bridadan opened #195 "WIFI_ODIN configuration and .mbedignore instructions"
The instructions to add the `.mbedignore` file for the conflict between LWIP and the mesh RF stacks are at the very bottom of the README. I missed these for the first 10 minutes I was trying to use the WIFI_ODIN configuration.

Perhaps we could break down the steps by the `"network-interface"` setting in the mbed_app.json? And perhaps reference the users to the already available config files in th

[2017-03-01 00:49] ciarmcom commented on #195
ARM Internal Ref: IOTCLT-1528

[2017-03-01 00:49] ciarmcom commented on #194
ARM Internal Ref: IOTCLT-1529

[2017-03-01 08:10] JanneKiiskila commented on #194
@bridadan @bulislaw

Has anyone done some testing with this: https://github.com/ARMmbed/mbed-os-cliapp using IAR? Seems you're suspecting some issue and well, it's not a client issue in reality.

[2017-03-01 10:02] janjongboom commented on #192
@fwndz See https://developer.mbed.org/teams/sandbox/code/http-example/, should work on that board too.

[2017-03-01 10:13] bulislaw commented on #194
mbed-os-example-wifi works fine for both iar and export make iar.

@andreaslarssonublox

[2017-03-01 10:15] JanneKiiskila commented on #194
Wifi example doesn't use mbedTLS at all, right? That might explain it.
Could be mbedTLS timeout or handshake issue.

[2017-03-01 10:16] bulislaw commented on #194
Not sure how good our test coverage is there, but the tests were passing.

[2017-03-01 10:18] JanneKiiskila commented on #194
Does the WiFi example use the async APIs at all? Client uses ASYNC socket APIs. Those are not tested at all elsewhere as far as I understand.

[2017-03-01 10:21] bulislaw commented on #194
No, wifi example tests mostly wifi and very simple HTTP transaction to verify the link is up.

[2017-03-01 10:24] bulislaw commented on #194
To answer you next question, no we don't have any networking tests run on wifi at the moment. It's planned, we have the tests for Ethernet, but they won't be run on WiFi before we unify the network interfaces (finger crossed for it to happen for 5.5).

[2017-03-01 13:53] yogpan01 commented on #194
@bridadan @bulislaw @0xc0170 Is the memory map linker script for IAR quite different from ARMCC and GCC options ? I think there is a difference between ARMCC, GCC and IAR linker scripts. They define different size of stack, heap memory areas for different compilers and that can be the reason for failure for IAR build  because client needs more memory (because of TLS certificate handshake) , this e

[2017-03-01 13:56] bulislaw commented on #194
There's one big issue with IAR it has to have it HEAP defined at compiler time, so that's done in the linker script. But allocation issue should be easy to spot.

[2017-03-01 14:00] yogpan01 commented on #194
@bulislaw from the error that @bridadan posted above , it seems that the malloc in mbedTLS is failing which is causing this issue.

[2017-03-01 14:05] bulislaw commented on #194
I'll take your word for it :) Odin has 256K of RAM, not sure how much is needed for the client. @andreaslarssonublox is there any way to squeeze a little bit more of memory for the HEAP so the behavior is the same across the toolchains?

[2017-03-01 14:10] yogpan01 commented on #194
Client definitely doesn't need 256 k RAM but if the memory map script for IAR toolchain is configured to utilize only a very limited memory size which might be lower than client needs then we have an issue.
Having the same HEAP size across different toolchain should ensure the same behaviour for all of them.

[2017-03-01 14:15] bulislaw commented on #194
We can't have it 'the same' unfortunately, because ARM/GCC can use it dynamic and set at boot time, while IAR needs it hardcoded at build time. But maybe @andreaslarssonublox can help you make it work.

[2017-03-02 10:57] andreaslarssonublox commented on #194
Thanks for the feedback. I tried to just increase the heap size in the linker script:
mbed-os\targets\TARGET_STM\TARGET_STM32F4\TARGET_UBLOX_EVK_ODIN_W2\device\TOOLCHAIN_IAR\stm32f439xx_flash.icf

We can probably just increase it. When increasing it to 0xF000 it seemed to work. However there is a risk it won't work with other apps since it's hard-coded and very dependent on the use case. Is there

[2017-03-02 13:14] 0xc0170 commented on #194
Whats the current size? is it around 48k ? How much RAM does we have? what should be the sensible default value?

[2017-03-02 14:17] yogpan01 commented on #195
@peknis01 Can you check the documentation bit ?

[2017-03-02 15:21] bridadan commented on #195
To be clear, most of the information is already in the README. But with a little reorganization I think the experience could be much smoother!

As a user, my thought process is "look for instructions for my configuration -> read those instructions" vs "read most instructions and then search around a bit more if things aren't working".

Thanks again @yogpan01 @peknis01!

[2017-03-03 06:46] peknis01 commented on #195
Take a look at: https://github.com/ARMmbed/mbed-os-example-client/pull/197

[2017-03-03 10:38] yogpan01 commented on #194
@0xc0170 @bulislaw Any resolution for this now ?

[2017-03-03 10:55] 0xc0170 commented on #194
@yogpan01 please review this patch (increasing heap size for those 2 platforms to 1/2 RAM).

[2017-03-06 06:57] yogpan01 commented on #194
@0xc0170 This looks fine.
Btw , we have similar issues in K64F board as well with IAR, https://github.com/ARMmbed/mbed-os/issues/3466 , can something similar be done for K64F as well . It will unblock our client on K64F , IAR as well.

[2017-03-06 13:29] 0xc0170 commented on #194
Please send a patch (it with the client and IAR))

[2017-03-07 17:08] bridadan commented on #194
Looks like I can't build with the latest branch of `oob_test_mbed-os-5.4`. I verified that switching back to commit 527032166f969a6a343c4824d8ac0ecc7ec076bf (which I believe was the first RC of mbed OS 5.4) does let the application compile (but of course the application doesn't run correctly).

[code]

Just for fun I tried changing the heap size for that target like was done in this PR: https://gi

[2017-03-08 09:34] 0xc0170 commented on #194
Thanks Brian for reporting

cc @mazimkhan (to be aware of this)

[2017-03-08 09:36] bulislaw commented on #194
Wasn't the heap change tested? I think @andreaslarssonublox suggested 0xF000 maybe we should go with it, I mean there will still be the limitation of IAR, but we will address the client issue for this release. We can always tweak it later.

[2017-03-08 11:53] mazimkhan commented on #194
Heap change was tested with tls-client example. Above failure means this examples (+ libs) requires ```> 3/8``` or 71K of RAM for static and global data . This largely depends on app and associated libs design.
Perhaps there should be a way to override these allocations from app config.

I created a map file in IAR workbench. It shows both lwip that uses ```0x6414``` i.e. 25K and ethernet that use

[2017-03-09 13:03] yogpan01 commented on #194
@mazimkhan  @bulislaw @0xc0170 This example now doesn't compile. Did someone fix this issue for example-client ?

[2017-03-09 13:08] 0xc0170 commented on #194
Whats the error? Is it overflow in the section reported above by Brian or ?

[2017-03-09 13:12] yogpan01 commented on #194
@0xc0170 Yes the above one reported by Brian. I am now updating README of this example with this as "KNOWN ISSUE".

[2017-03-10 19:06] sarahmarshy opened #205 "Fails to connect with K64F and ESP8266"
Full log:

[code]

[2017-03-10 20:49] ciarmcom commented on #205
ARM Internal Ref: IOTCLT-1563

[2017-03-13 07:08] JanneKiiskila commented on #205
@sarahmarshy - do you think the linked issue is behind this or not? We have a CI run for this example which runs also over WiFi and it is working (with this exact combination).

I also did a manual test myself as well, using the current top of the master.

[code]

built it with
[code]
outcome binary had these sizes:

[code]
and logs show this:

[code]

So, it was successfull. I can also see the de

[2017-03-14 09:31] JanneKiiskila commented on #205
Hi,

@sarahmarshy  - you could also try to set on the client logs, modify the mbed_app.json - "mbed-trace.enable": 0 to 1, potentially also enabling the TLS logs as well.

[2017-03-14 16:17] ashok-rao opened #208 "[OoB_5.4.1] [NuMAKER_PFM_NUC472 + AT233 shield + Thread BR] : Pinmap not found."
Steps to reproduce:
1. import example, switch to OoB branch, update FW on BR with ThreadDynamic.bin from https://github.com/ARMmbed/mbed-os-example-client/tree/oob-test-mbed-os-5.4.1 . Make sure BR is up & running.
2. mbed compile -t ARM -m NUMAKER_PFM_NUC472 --app-config configs\mesh_thread.json
3. If compile errors regarding AtmelRFPhy.c, copy the "mesh-mbedignore" from configs directory.
4. Fla

[2017-03-14 16:49] ciarmcom commented on #208
ARM Internal Ref: IOTCLT-1565

[2017-03-14 19:55] stevew817 opened #209 "Commissioning with gateway?"
Does the mbed gateway support Thread commissioning?

[2017-03-14 20:49] ciarmcom commented on #209
ARM Internal Ref: IOTCLT-1566

[2017-03-14 23:19] MarceloSalazar commented on #194
Why are we still having this issue in the 5.4.1 OOB?

[2017-03-15 06:43] teetak01 commented on #208
@ashok-rao could you please open an issue to mbed-OS. This not an application issue.

[2017-03-15 06:46] teetak01 commented on #209
@artokin couldyou answer to this?

[2017-03-15 10:08] ashok-rao commented on #208
@SeppoTakalo .. any instructions on how to add support for this target? Maybe something to include in the docs for other users / other platforms too ?

[2017-03-15 10:14] 0xc0170 commented on #208
+1. It would be helpful to provide what pins are used in this application (or better to pinpoint which pins fails). This board might not be compatible with the shield requirements.
@ashok-rao  Please provide some additional information that would help us to resolve this .

[2017-03-15 12:44] ashok-rao opened #211 "[OoB_5.4.1] [NUCLEO_F429ZI + AT233 Thread + Thread BR]: Fails to connect/register object."
Steps to reproduce:
1. Clone repo, switch branch, update example, update FW of BR with ThreadDynamic.bin. Make sure BR is up & running.
2. mbed compile -t ARM -m NUCLEO_F429ZI --app-config configs\mesh_thread.json -c
3. Flash binary to target.

Result:
Fails to connect & register object. Full log (with trace enabled in mesh_thread.json) attached below.
[Thread_log.txt](https://github.com/ARMmbed/m

[2017-03-15 12:49] ciarmcom commented on #211
ARM Internal Ref: IOTCLT-1579

[2017-03-15 12:56] mikter commented on #209
Thread stack of the mbed-os-example-client supports all Commissioner commands according to thread specification.

6loWPAN gateway does not support commissioning.
border router in https://github.com/ARMmbed/thread-testapp-private supports commissioning and can be used as commissioner for testing purposes.

@JanneKiiskila  needs to answer any mbed gateway commissioning support in cloud services

[2017-03-15 14:41] JanneKiiskila commented on #209
Hi,

All cloud client and cloud stuff is not-network-specific and as such doesn't support any comissioning. I do not think it's even in the scope for that.

@stevew817  - please confirm if this answers your question enough or if you need something more?

[2017-03-15 15:00] ashok-rao commented on #211
@SeppoTakalo .. can you please have a look at this? Thanks!

[2017-03-15 16:20] soramame21 opened #212 "[OoB_5.4.1] [HEXIWEAR + wifi ESP8266/K64F + wifi ESP8266]: Fails to connect/register object."
**HEXIWEAR + wifi ESP8266** or **K64F + wifi ESP8266** cannot connect to mbed Device Connector.

## Executable failed to connect
The same failed terminal prints can be verified for 2 cases.
Case 1 :  **HEXIWEAR + wifi ESP8266** connect to internet through iphone.
Case 2 :  **K64F + wifi ESP8266** connect to internet through iphone.
### Terminal print out (failed)
[code]
### Build command
[code]

#

[2017-03-15 16:23] SeppoTakalo commented on #211
I think you stopped too quickly.
In Thread network, the devices joins mesh before it has public IP address. First connection attempt most probably fails. Second one should already have public IP.

Let it try for at least those 3 times:
`M2MInterfaceImpl::socket_error - reconnecting in 15(s), count 1/3`

I'll forward this issue to Thread team. In mbed OS interface API, we can only get one `.connect

[2017-03-15 16:36] bridadan commented on #194
FYI, waiting on this PR to be merged: https://github.com/ARMmbed/mbed-os/pull/3920

[2017-03-15 16:49] ciarmcom commented on #212
ARM Internal Ref: IOTCLT-1587

[2017-03-15 17:01] stevew817 commented on #209
My question was specific to the mbed gateway hardware as made by Firefly. As far as I can see, there are only binaries provided for it, which appear to have no way of configuring the BR to be a Thread commissioner?

[2017-03-16 05:24] soramame21 commented on #205
Hi @sarahmarshy, @JanneKiiskila  This is a duplicated issue. I reported another one, please refer
https://github.com/ARMmbed/mbed-os-example-client/issues/212

[2017-03-16 05:27] soramame21 commented on #212
This is a duplicated issue. please look
https://github.com/ARMmbed/mbed-os-example-client/issues/205

[2017-03-16 09:59] JanneKiiskila commented on #205
@sarahmarshy  - can you confirm you were also using `mbed compile -m K64F -t ARM -c`?

[2017-03-16 10:34] ashok-rao commented on #211
Thanks @SeppoTakalo .. I tried it, but still the results are same. Here is a detailed explanation and full logs attached at appropriate places. Also, I started with a fresh mbed import & I'm using the oob-test-mbed-os-5.4.1 branch.

Here are the SHA's I'm using:
[code]

Here are the steps I took:
[code]

Here is my mbed_app.json
[code]

And here are the output logs. I have left the target to try t

[2017-03-16 10:45] JanneKiiskila commented on #211
Can you also try with another compiler, GCC? We have another issue where some connectivity issues are reported from ARM compiler (ONLY, GCC and IAR working OK).

[2017-03-16 10:52] mikter commented on #209
you are right that binary and hardware does not have possibility to act as commissioner.

[2017-03-16 10:58] JanneKiiskila commented on #209
I believe you need to have the mbedOS partner license / agreement in place in order to access the mesh networking sources - after that you can compile the SW in any way you want.

I consider this case now to be handled and with your kind permission I would like to close this issue, would you agree?

[2017-03-16 10:58] SeppoTakalo commented on #211
Also, does it work in `6LoWPAN-ND` mode?

[2017-03-16 11:10] artokin commented on #211
From mbed-os-5.4 onwards the Thread gateway binary file `gatewayThreadDynamic.bin` is configured to use RF channel 22 and panid 0x0700. There is no need to modify Thread configuration settings.
Your steps sounds right in "steps to reproduce" chapter, the application should work in Thread mode when building application with configuration from `./configs/mesh_thread.json`.

[2017-03-16 11:46] artokin commented on #211
Tested mbed-os-example-client (NUCLEO_F429ZI + AT233, GCC_ARM) in our CI. The device was registered successfully in 3 minutes.

[2017-03-16 11:49] ashok-rao commented on #211
Hello @JanneKiiskila , the result is same as before with GCC. With IAR, I get a memory allocation error at link time.
[code]

@artokin .. I flashed the GW again with ThreadDynamic.bin , reverted mbed_app.json to defaults and used --app-config with mesh_thread.json while building.

**Happy to report that it works now with this.** . This was the exact same setup I was using yesterday too, but it was

[2017-03-16 12:00] artokin commented on #211
Good, we will update the misleading documentation.

[2017-03-17 11:42] stevew817 opened #215 "Long-term stability on K64F"
After a day or so, my mbed test client (K64F + Atmel) disappears from the Device Connector's "connected devices", and needs to be reset to register again. Is this a known issue?

[2017-03-17 11:44] stevew817 commented on #209
@JanneKiiskila We have a partner agreement, but even with source there is no way for us currently to compile thread-testapp-private for the Firefly gateway. Is that something that will still be coming, or should I give up on using the gateway as a commissioner?

[2017-03-17 12:49] ciarmcom commented on #215
ARM Internal Ref: IOTCLT-1593

[2017-03-20 07:49] teetak01 commented on #215
Hi  @stevew817  Could you provide some more details on how you have been testing this.

I presume you are using either of the Mesh-networks with latest mbed-os-example-client?

[2017-03-20 14:16] sarahmarshy commented on #205
@JanneKiiskila Can you confirm your mbed-os hash?

Mine is: `88a4baa Merge pull request #3902 from mazimkhan/master`

Here is the full log with trace enabled:

[code]

[2017-03-21 14:40] janjongboom opened #217 "Cannot run with debug profile"
On K64F with `mbed compile --profile ./mbed-os/tools/profiles/debug.json` the application crashes almost immediately. Looks like out of stack space error.

[code]

[2017-03-21 14:41] janjongboom commented on #217
Was meant for cloud client...

[2017-03-21 14:41] #217 closed

[2017-03-22 08:46] TuomoHautamaki commented on #209
Currently we don't have plans to provide commissioning support for mbed 6LoWPAN Gateway. Please try k64f with thread-testapp-private.

[2017-03-23 10:10] stevew817 commented on #215
@teetak01 I'm using Thread, standard config shipped with mbedOS.

GW: Firefly IOT gateway, binary from this repo
Node: K64F + Atmel, compiled from this repo.

[2017-03-23 10:20] teetak01 commented on #215
@artokin this is something we have to look together. @stevew817 we will investigate this on our side. Thanks for reporting.

[2017-03-23 13:19] artokin commented on #215
In some cases we have seen similar behaviour but we were not able to reproduce the problem. We will try to reproduce this error in order to get further details.

[2017-03-24 11:56] stevew817 commented on #209
Understood. You can close the ticket.

[2017-03-27 04:36] #209 closed

[2017-03-28 08:38] karsev commented on #211
Document updated, closing the issue.

[2017-03-28 08:38] #211 closed

[2017-03-29 18:01] adustm opened #223 "[ST - NUCLEO_F429 + wifi] : not able to connect to device connector when trace is on"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug
NUCLEO_F429ZI is able to connect to the https://connector.mbed.com/ with a Wifi-ESP module
But if I change the trace in mbed_apps.json, it does not connect to Device connector anymore:

It seems that the trace log file is stacked here :
[code]

**Version information**
mbed-os-example-client (e656db9

[2017-03-29 18:05] MarceloSalazar commented on #223
@yogpan01 @JanneKiiskila could you please have a look?
We are working with @adustm and are able to see the problem

[2017-03-29 19:49] ciarmcom commented on #223
ARM Internal Ref: IOTCLT-1622

[2017-03-29 20:00] JanneKiiskila commented on #223
Looks like we run out of memory somehow now.

[2017-03-29 20:33] JanneKiiskila commented on #205
My mbed-os.lib was pointing to: 305f5c491e34d86098e9da91b322017549c189ff

[2017-03-29 20:34] JanneKiiskila commented on #205
Hi,

Can you please specify the version of the compiler used here?

[2017-03-29 20:35] JanneKiiskila commented on #212
Hi @soramame21

can you please specify the compiler version? I would almost suspect a compiler bug in this case.

[2017-03-30 06:37] yogpan01 commented on #223
@MarceloSalazar @0xc0170 Do you know what does this error mean RTX error code: 0x00000002 ? Its coming from mbed OS. This can help us narrow down the issue.

[2017-03-30 06:55] JanneKiiskila commented on #208
Hi,

@ashok-rao , @0xc0170 , @bulislaw  - any new updates on this case? I moved our JIRA ticket to IOTMORF, as this is not a client issue (unless you give us some instructions how to add something our documentation, but that info anyway needs to come from You first).

Best Regards,

Janne

[2017-03-30 07:38] JanneKiiskila commented on #223
[code]
It's an FIFO Overflow I think. (File: `RTX_Conf.h` in mbedOS).

That seems to be triggered from one place only,

[code]

[2017-03-30 09:29] adustm commented on #223
Hello,
For your information, if I use UDP socket instead of TCP socket, it works again...
in mbed-os-example-client/simpleclient.h, I simply change:
//Select binding mode: UDP or TCP -- note - Mesh networking is IPv6 UDP ONLY
#ifdef MESH
    M2MInterface::BindingMode SOCKET_MODE = M2MInterface::UDP;
#else
    // WiFi or Ethernet supports both - TCP by default to avoid
    // NAT problems, but UDP

[2017-03-30 09:50] MarceloSalazar commented on #223
Thanks for the feedback @adustm
Just wanted to clarify that the info you provided in your last comment is not directly related to the issue originally reported on this ticket. We'll look into this on a separate thread.

[2017-03-30 11:21] 0xc0170 commented on #208
@ccli8 @cyliangtw Can you have a look at this issue with the pinmap?

[2017-03-30 11:37] cyliangtw commented on #208
In `mbed_app.json`, it needs to define macros for AtmelRF shield board as:
[code]

[2017-03-31 10:02] MarceloSalazar opened #226 "[NUCLEO_L476RG] Unable to connect when using Wifi (ESP8266) + TCP (default)"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Version information**
(`mbed ls`)

[code]

**Expected Behavior**
Connection to mDC to work fine when using default (TCP) and Wifi connection on NUCLEO_L476RG

**Actual Behavior**
Unable to connect / register objects

**Steps to Reproduce**

Test results on multiple boards/configs.

- mbed-os-exam

[2017-03-31 10:48] MarceloSalazar commented on #223
@JanneKiiskila thanks for the comments.
We'll investigate and check how we could fix the error or improve the message shown in the console.

[2017-03-31 11:49] ciarmcom commented on #226
ARM Internal Ref: IOTCLT-1635

[2017-03-31 14:03] JanneKiiskila commented on #223
TLS/DTLS - I doubt there's anything "mixed" there - if you use UDP, you use DTLS. If you use TCP - you use TLS - mbedTLS does this automatically and I doubt we can influence that in any way.

I am suspecting some memory issue here, since UDP works and TCP doesnt - TCP is a heavier protocol and uses more memory for the re-transmission buffers etc., so it might be a simple case of running out of mem

[2017-04-05 03:24] SYuPing opened #227 "Project exported error"
Hi,
I wanted to export mbed-os-client-example to uvision ide, but I got some problems...

version information
mbed-os-example-client (ef89c712c070)
|- easy-connect (6fb5842becae)
|  |- atmel-rf-driver (57f22763f4d3)
|  |- esp8266-driver (4ed87bf7fe37)
|  |  `- ESP8266\ATParser (269f14532b98)
|  |- mcr20a-rf-driver (d8810e105d7d)
|  `- stm-spirit1-rf-driver (ac7a4f477222)
|- mbed-client (52e65b46df

[2017-04-05 03:49] ciarmcom commented on #227
ARM Internal Ref: IOTCLT-1638

[2017-04-05 07:51] teetak01 commented on #227
Hi @SYuPing , looks like an issue in tools/Online compiler.

@theotherjimmy @sarahmarshy  can you check this?

[2017-04-05 18:57] theotherjimmy commented on #227
@teetak01 He specifically mentions mbed-cli, so I doubt it relates to the online ecosystem.

[2017-04-05 19:08] theotherjimmy commented on #227
@SYuPing This is a configuration error. It looks like you are expecting to be able to overwrite the configuration parameter `platform.stdio-baud-rate`, which is not present in your version of mbed-os.

[2017-04-05 20:54] sarahmarshy commented on #227
There override is in the default mbed_app.json of this example - https://github.com/ARMmbed/mbed-os-example-client/blob/master/mbed_app.json#L32

[2017-04-05 21:30] theotherjimmy commented on #227
@SYuPing What is your version of mbed-os

[2017-04-06 01:36] SYuPing commented on #227
@theotherjimmy I just download this project to export, I think the version is 5.4 for this example also my mbed-cli is 1.0.0

[2017-04-06 16:21] theotherjimmy commented on #227
@SYuPing mbed-os version 5.4 has an mbed_lib.json that contains the parameter that the tools are complaining about not existing. I'm going to try to reproduce this on my machine.

[2017-04-06 18:27] theotherjimmy commented on #227
I can reproduce this problem. I think that scanning is not working correctly.

[2017-04-06 18:30] theotherjimmy commented on #227
https://github.com/ARMmbed/mbed-os/pull/3924 fixed this issue

[2017-04-06 18:31] theotherjimmy commented on #227
Update to mbed-os 5.4.2, and this problem will go away.

[2017-04-06 18:32] theotherjimmy commented on #227
Pull the branch from this PR: https://github.com/ARMmbed/mbed-os-example-client/pull/222

[2017-04-12 10:50] terhei commented on #215
Hi @stevew817
We have been trying to reproduce this issue, but so far we haven't seen any unstability with our setup.
We will continue working with this issue.

[2017-04-13 10:35] #205 closed

[2017-04-13 10:35] JanneKiiskila commented on #205
Closing, it should work.

[2017-04-13 14:05] #227 closed

[2017-04-18 09:58] toyowata commented on #212
Hi @JanneKiiskila

I am facing same problem by online compiler (armcc 5.06 build 61).
But, I didn't have any issue by mbed-os-5.3.6 release.

https://github.com/ARMmbed/mbed-os-example-client/releases/tag/mbed-os-5.3.6

[2017-04-19 13:48] JanneKiiskila commented on #208
Does the information from @cyliangtw  resolve this issue @ashok-rao ?

[2017-04-19 13:49] JanneKiiskila commented on #113
Closing out, internal randomizaitons now removed overall and we're using port(0) and letting the stack randomize it.

[2017-04-19 13:49] #113 closed

[2017-04-19 15:42] teetak01 commented on #208
That does not look like a very permanent solution. That configuration should go to inside mbed OS, not to application mbed_app.json.

[2017-04-20 02:28] cyliangtw commented on #208
NUC472 board pinout is Arduino R1 type and not got any specific pinout requirement in mbed enable validation criteria. So, NUC472 board SPI pins are different from current Arduino R3 type.
About Atmel RF driver, it's default ATMEL_SPI_xxx are Arduino R3 type. As a result, we resolve it by mbed_app.json .
Anyway, our future boards will follow R3 type.

[2017-04-26 04:19] soramame21 commented on #212
Hi @JanneKiiskila

Very sorry for delayed reply. here is my compiler versions.
`arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release)`

`Component: ARM Compiler 5.06 update 4 (build 422)`

[2017-04-26 10:53] teetak01 commented on #215
Still investigating the root cause of this issue.

[2017-04-26 14:20] yogpan01 commented on #212
This has been verified that it works fine for ARMCC with latest mbedOS 5.4.3 on K64F, please retest and if its still not working, I suggest try with https://github.com/ARMmbed/mbed-os-example-sockets to verify connectivity.

[2017-04-26 14:20] #212 closed

[2017-04-26 17:30] stevew817 opened #232 "Border router dropping routes"
Using the latest GW_Binary image for Thread, I am observing the gateway becoming non-functional after a while, and starting to emit the following when trying to access a public IP from a node:
```[DBG ][ipv6]: XXX ipv6_buffer_route no route to {prefix}::68c7:55d3!```
and when trying to ping the node:
[code]

Since it successfully routes the echo request from ethernet to Thread and to the node, but

[2017-04-26 19:39] ranshe opened #233 "Compilation fails with eth_v4 json"
When switching from provided mbed_app.json to eth_v4.json, compilation fails with
"Compile [  0.2%]: NanostackRfPhyAtmel.cpp
[Fatal Error] NanostackRfPhyAtmel.cpp@18,44: nanostack/platform/arm_hal_phy.h: No such file or directory
[ERROR] .\easy-connect\atmel-rf-driver\source\NanostackRfPhyAtmel.cpp:18:44: fatal error: nanostack/platform/arm_hal_phy.h: No such file or directory
 #include "nanostack

[2017-04-26 19:49] ciarmcom commented on #233
ARM Internal Ref: IOTCLT-1690

[2017-04-26 19:49] ciarmcom commented on #232
ARM Internal Ref: IOTCLT-1691

[2017-04-26 20:58] ranshe commented on #233
Can be closed as duplicate of https://github.com/ARMmbed/mbed-os-example-client/issues/174.
A solution is to use following line in mbed_app.json:
"target.features_add": ["LWIP", "NANOSTACK", "COMMON_PAL"],
(adding NANOSTACK is key here)

[2017-04-26 20:59] #233 closed

[2017-04-27 07:58] yogpan01 commented on #232
@artokin @mikter Can you please check this issue ?

[2017-04-28 07:28] artokin commented on #232
Hi @stevew817 ,

Thanks for reporting this error. Would you please provide more details on this issue so that we can try to reproduce the error?
* What and how many devices were attached to the network?
* How long did it take to get border router to the unresponsive state?
* What kind of traffic was made on network during operation (heavy load?, big packets?)

BR
Arto

[2017-04-28 07:38] stevew817 commented on #232
@artokin

- 1 device attached to the border router, running mbed master
- Around 10 minutes after resetting the border router and end node
- Sending a ~190 byte CoAP payload every ~4 seconds. If it matters, this is to a NAT64 address, using the standard prefix 64:ff9b::

[2017-04-28 07:39] artokin commented on #232
Thanks, we'll try to reproduce this issue.

[2017-04-28 11:31] anttiylitokola commented on #223
Did some further investigation and looks to also happen with K64F + ESP8266 combination. Disabling traces from mbed-client security implementation solves the problem. Need to do more studying, might be something in esp driver side.

[2017-04-28 12:00] adustm commented on #223
Hello,

The ESP8266 is using UART to communicate with the wifi module.

I just checked on NUCLEO_F429ZI that the ESP pins (PG_9 and PG_14) are not the same pins as the printf pins (PD_8 and PD_9). I've also verified that they are not connected to the same instance of uart.

There must be some conflicts between trace using uart and ESP using uart.

[2017-04-28 13:44] haishengliu opened #236 "TCP and UDP connection failed"
Hello, i'am working on this project.

i'm unlucky to get this message with TCP connection:

[ERR ][tcp ]: DW No Session: dst: 2607:f0d0:2601:52::20, src port: 49157, dst port: 5684

and with UDP connection:

[ERR ][mClt]: M2MConnectionSecurityPimpl::timer_expired - handshake timeout

trace log file for TCP:

could you please review the log file and give me some advice to work around? thanks

Haish

[2017-04-28 14:09] yogpan01 commented on #236
@SeppoTakalo can you please look into this ? Can we connect mbed Client over TCP in 6LoWPAN?

[2017-04-28 15:49] ciarmcom commented on #236
ARM Internal Ref: IOTCLT-1696

[2017-05-01 22:48] tubaman opened #237 "building with configs/eth_v4.json results in nanostack/platform/arm_hal_phy.h: No such file or directory"
### Description
- Type: Bug

Building with

    mbed compile -m K64F -t GCC_ARM -c --app-config configs/eth_v4.json

...fails with the following error: `nanostack/platform/arm_hal_phy.h: No such file or directory`

---------------------------------------------------------------
## Bug

**Version information**
[code]

**Environment details**
I'm on Debian Stretch 64-bit with the following toolchain

[2017-05-01 22:54] tubaman commented on #237
Here's a possibly [related issue](https://github.com/ARMmbed/mbed-os-example-client/issues/233)

[2017-05-01 23:49] ciarmcom commented on #237
ARM Internal Ref: IOTCLT-1699

[2017-05-02 07:44] anttiylitokola commented on #223
Hi, This is now some timing issue most probably in the driver side. With following patch client gets stuck even the traces are disabled.  With 5ms delay problem occurs every time, changing to 2ms client works fine.
[delay.zip](https://github.com/ARMmbed/mbed-os-example-client/files/969727/delay.zip)
Can someone in the driver side check this a bit more?

[2017-05-02 07:57] anttiylitokola commented on #223
Will close this now. Let's follow this in ESP driver repo https://github.com/ARMmbed/esp8266-driver/issues/28

[2017-05-02 07:57] #223 closed

[2017-05-02 07:57] anttiylitokola commented on #226
Will close this now. Let's follow this in ESP driver repo https://github.com/ARMmbed/esp8266-driver/issues/28

[2017-05-02 07:57] #226 closed

[2017-05-02 08:39] yogpan01 commented on #237
When using the above config.json , you need to take https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/eth-wifi-mbedignore into .mbedignore.
It will fix your issue.

[2017-05-02 08:41] yogpan01 commented on #195
This can be closed as we have now updated the README documentation structure.

[2017-05-02 08:41] #195 closed

[2017-05-02 10:03] SeppoTakalo commented on #236
@haishengliu Can you specify which hardware is used and also which version of mbed OS and client?

[2017-05-02 15:35] loverdeg-ep commented on #237
Which .mbedignore?

[2017-05-03 07:37] yogpan01 commented on #237
Hi,
Does this documentation bit help  #239 ?

[2017-05-03 13:06] loverdeg-ep commented on #237
From #239 I get, rename the file with "ignore" in it's name for the config you are using to ".mbedignore"

Though I'm still confused why the RF drivers aren't removed from the build automatically when using  the ethernet config.

[2017-05-03 13:08] yogpan01 commented on #237
Because  those are cloned from another library known as "easy-connect" which pulls in all the needed RF Driver dependencies without really having the knowledge whether the main application needs it or not.

[2017-05-04 07:21] kjbracey-arm commented on #232
Was destination prefix was distinct from the Thread and Ethernet prefixes?

Presumably the border router received a default route from Ethernet via Router Advertisement at start-up? Has that timed out? I believe there should have been debug prints from both its addition and any timeout.

[2017-05-04 09:26] stevew817 commented on #232
@kjbracey-arm yes, external destination prefix is the NAT64 prefix (64:ff9b::/96). Trying to ping the node, the prefix was the Ethernet prefix, though.

Thanks for the suggestion. Out of precaution, I updated my router firmware, to see whether it could be the router that is messing up its RAs. We'll see whether that helps.

[2017-05-04 16:15] yogpan01 commented on #236
Hi @haishengliu ,
Can you tell which location are you testing it from ? Are you able to ping "api.connector.mbed.com" from your test network ? I am suspecting that there might be some network firewall which prevents your device to reach the server.

[2017-05-04 16:24] haishengliu commented on #236
Hello,

thank your very much for your response, i'm from France.

ping api.connector.mbed.com gives us 190ms

with the Atmel RF platform, it works. But we’d like to test out customized specific board, we get this error:

As mentioned in the upper post, the ping command to our client board works perfectly,

I also get this message:

[DBG ][mMCp]: Too Long 134, 110 pa 18 header 0 mic

[ERR ][6lAd]:

[2017-05-04 16:29] yogpan01 commented on #236
There is one "code change" that you can do to see if that helps for UDP case.
https://github.com/ARMmbed/mbed-client-mbed-tls/blob/master/source/m2mconnectionsecuritypimpl.cpp#L294
In this line, you can change the timeout value from 29000 (29 seconds) to 200000 (200 seconds) just to check if it helps to overcome any network slowness and helps in registering your client in UDP mode.

[2017-05-05 10:49] SeppoTakalo commented on #236
I would recommend that you update your mbed OS version to latest release.

The TCP support for Nanostack is improved between mbed OS 5.2 and 5.3. TCP server was not supported at all and Nanostack was not buffering any data.

[2017-05-08 21:05] geky commented on #223
@adustm and @anttiylitokola if you get a chance, are you able to see if commenting out this line solves the issue?
https://github.com/ARMmbed/mbed-client-classic/blob/6b5141649ffb109e5f0a201b0866b6aff795e6d5/source/m2mconnectionhandlerpimpl.cpp#L86

It seems to resolve the problem on my side, although I can't really find any relationship to @anttiylitokola's patch

[2017-05-09 09:41] adustm commented on #223
Hello @geky
It works for me: NUCLEO_F429ZI + mbed-trace.enable + comment the line 86 of m2mconnectionhandlerpimpl.cpp

Isn't it an issue to call a tr_debug in a callback function ?
Could it be that we are 'writing in UART6 for the ESP8266 commands (then blocking the uart) and in the same time, we call the callback function that writes in UART3 the trace debug ?

Same with the patch from @anttiylit

[2017-05-09 14:42] geky commented on #223
@adustm, good to know! sorry about the split in the issue discussion.

Looks like the client guys have a patch up to fix this: https://github.com/ARMmbed/mbed-client-classic/pull/74

@yogpan01, I'll leave it up to you to get the patch merged all the way up here : )

[2017-05-09 15:39] teetak01 commented on #223
Disabling the traces seems to be partial fix, but it does not fix the root cause.

[2017-05-10 06:35] JanneKiiskila commented on #237
Closing issue, documentation already improved.
Please create a new ticket, if you think more is needed - but it would most likely entail some tool changes to mbed cli.

[2017-05-10 06:35] #237 closed

[2017-05-10 06:36] JanneKiiskila commented on #174
Documentation was updated to match the need to have the .mbedignore in case you're not using mesh.
Please raise a new ticket to mbed-cli if you think this is not sufficient.

[2017-05-10 06:36] #174 closed

[2017-05-15 11:14] architech-boards opened #247 "[ST - NUCLEO_F429ZI + X-NUCLEO-IDS01A4] : not able to connect to device connector when trace is on"
**Description**
- Type: Bug

NUCLEO_F429ZI is able to connect to the https://connector.mbed.com/ with a Spirit module: X-NUCLEO-IDS01A4. But if I change the trace in mbed_apps.json, it does not connect to Device connector anymore.

After the connection with the router (it is another NUCLEO_F429ZI + spirit):
[code]

When the client tries to connect to the server side I have continuosly this error:

[2017-05-15 11:49] ciarmcom commented on #247
ARM Internal Ref: IOTCLT-1739

[2017-05-15 12:05] yogpan01 commented on #247
Hi,
I think its the timing issue in the radio driver implementation which is sensitive to delays. Enabling tracing is causing some delay in the transmission/reception of data packets that is causing this issue.
@kjbracey-arm @SeppoTakalo Have you seen this issue, we have seen similar issues with ESP8266 WiFi drivers , enabling tracing causes the client to stop working.

[2017-05-15 12:41] SeppoTakalo commented on #247
I see quite a lot of debug prints in the ST Spirit driver, for example https://github.com/ARMmbed/stm-spirit1-rf-driver/blob/master/source/NanostackRfPhySpirit1.cpp#L635

Try disabling the traces from the driver side by defining a flag before including that tracing library
**NanostackRfPhySpirit1.cpp**
[code]

[2017-05-15 13:05] betzw commented on #247
These calls to trace functions should definitively have been met between conditional compilation.
Pls. find a new version of the file in latest commit.
@architech-boards pls. let us know if the issue persists.

[2017-05-15 15:20] architech-boards commented on #247
There is an improvement updating NanostackRfPhySpirit1.cpp to the last version and adding the MBED_TRACE_MAX_LEVEL. Without the debug of the spirit the client is connecting to the device connector after some tries. However the connection seems stable even if the issue happens at least once per minute.

[2017-05-16 10:31] architech-boards commented on #247
I tested it, with APP_TRACE_LEVEL the router works even with the trace enabled. Now the trace is enabled on the client and on the router. The client can connects to the mbed connector after some tries.

[2017-05-16 13:29] architech-boards commented on #247
Sure! In this way I can't see errors on the console, however I see that lesser output means better connection.

[2017-05-16 13:38] betzw commented on #247
Well, `info` is actually the second highest tracing level. So you will see less output but you still will see output related to information, warnings and errors.

[2017-05-24 06:41] TuomoHautamaki commented on #232
@stevew817 any update on this, did router firmware update help?

[2017-05-24 07:06] stevew817 commented on #232
I've been traveling, so haven't been able to get back to this yet. Will be back in the office next week.

[2017-05-31 10:11] SeppoTakalo commented on #236
Please try with current mbed OS release.
Re-open if issue is still valid.

[2017-05-31 10:11] #236 closed

[2017-06-07 07:06] mikter commented on #232
@stevew817 can you give update on this issue please?

[2017-06-07 11:32] rspelta commented on #247
Hi, at the moment on the L476RG we have resolved the problem changing the SPI frequency from 1Mhz to 2Mhz:

function: void SimpleSpirit1::init()
_spi.frequency(2000000); // 1MHz // betzw: heuristic value // betzw - NOTE: high frequencies lead to instability of Spirit1

With this modify even the router doesn't show anymore the messages:

[2K[31m[ERR ][6lAd]: MCPS Data fail by status 233[0m

[2017-06-07 14:04] betzw commented on #247
Thanks @architech-boards (@rspelta) for this information.

Seems as if you are not using the latest version of the driver, though. You might want to upgrade the Spirit1 driver to the latest version on the `master` [branch](https://github.com/ARMmbed/stm-spirit1-rf-driver/tree/master).

Pls. note, that in general this timing kind of issues cannot really be _resolved_, these can merely made less lik

[2017-06-07 16:33] haishengliu opened #257 "mbed assertation failed: 0 == ret in NanostackInterface.cpp"
Hello,
It seems working when i followed this tutorial. However, I get this message after running a while :

mbed assertation failed: 0 == ret, file: ../mbed-os/features/nanostack/FEATURE_NANOSTACK/nanostack-interface/NanostackInterface.cpp, line 213

I posted this issue on the forum also:

https://developer.mbed.org/questions/78214/mbed-assertation-failed-0-ret-in-Nanosta/

Completely no idea abou

[2017-06-07 19:49] ciarmcom commented on #257
ARM Internal Ref: IOTCLT-1826

[2017-06-13 16:48] stevew817 commented on #232
As far as I can tell, a combination of updating the router and moving to a more stable tunnel provider helped. Sorry for raising the alarm!

[2017-06-13 21:44] #232 closed

[2017-06-14 16:46] maclobdell opened #261 "Can't connect using Ethernet in IPv6 mode on K64F (oob testing for mbed OS 5.5 RC2)"
### Description
- Type: Bug

I know that this is not necessarily a client issue, but I want to enter it for reference.  Can move it over to another location later.

I verified that I have IPv6 service using http://test-ipv6.com/.  In the past I have had this demo application working.  Something seems to have changed.

I tested both the mbed-os-5.5.0-rc2-oob and mbedos55-oob branches.  I get the sa

[2017-06-14 18:43] teetak01 commented on #261
As you said this clearly is not Client-issue. Such defects should go straight to mbed OS.

https://github.com/ARMmbed/mbed-os/issues/4433

[2017-06-14 18:43] #261 closed

[2017-06-15 03:53] teetak01 commented on #261
@maclobdell also something what I have previously discovered (not related to this), is that even when the IPv6 test in browser "passes", it still does not guarantee that the network routes the IPv6 traffic correctly.
In this case already the Connect() call is giving a fail. Could you report the issue to mbed OS, with also details on the Board and Cross-compiler version used. It seems that above fi

[2017-06-20 12:42] yogpan01 commented on #257
@TuomoHautamaki @SeppoTakalo Can you please look into this issue ?

[2017-06-20 13:42] artokin commented on #257
Hi,

There is error when closing a socket and I believe this error is corrected in the latest version of mbed-os that was released today.

Would you please try with the latest version of the application? Please remember to use "mbed deploy" after pull.

Best Regards,
Arto

[2017-06-30 09:34] rspelta opened #266 "Network problems with 7 or more clients connected to the mbed Device Connector"
### Description
- Type: Bug?

With seven or more clients connected to the mbed Device Connector some of them are not listed temporally or disappear until I reset the client.

We are using mbed-os-example-client for 10 boards, 3 of them are NUCLEO_F429ZI+X-NUCLEO-IDS01A4 boards and the others are sensor-node boards (it's a new kind of board, we are developing on it,  @MarceloSalazar knows it).
The

[2017-06-30 11:49] ciarmcom commented on #266
ARM Internal Ref: IOTCLT-1854

[2017-06-30 13:39] betzw commented on #266
Cc @SeppoTakalo, @JanneKiiskila, @screamerbg

[2017-07-02 21:01] MarceloSalazar commented on #266
@rspelta are you using the same mbed Device Connector (mDC) account for all devices?
If so, would you please to generate the credential for multiple accounts? (lets say 2 or 3). I'd like to understand whether the problem is caused by a limitation on mDC or the Border Router not properly forwarding packets.
It would be useful to have a capture on the packets (tcpdump) sent between the BR and the ba

[2017-07-03 08:40] kjbracey-arm commented on #266
I'm seeing enough "MAC TX fail" and "Source route error" messages in that log to make me think you have some sort of radio driver or hardware problem. Communication between the nodes does not seem to be as reliable as I'd expect.

"MAC TX fail" means "I tried to transmit to a neighbour, but didn't get an Ack after multiple attempts".

"Source route error A->B" means "LoWPAN router A is telling me

[2017-07-03 10:14] kjbracey-arm commented on #266
I've just spent a little while reviewing the Spirit driver code, just to see if I can see any obvious flaws. (Hard to say much without knowing the hardware, but I can look for general issues.)

I'm a bit wary about the software ack handling - can be tricky.

There is one specific problem that could be affecting performance now - it seems to me the acks are sent with a common send() routine that en

[2017-07-03 12:46] betzw commented on #266
Thanks a lot @kjbracey-arm!

I have immediately tried to implement all your indications. Before pushing them, could you pls. be so kind and review these. Above all, pls. let me know if I got your points correctly, am missing something, and if you think the [patch](https://github.com/betzw/stm-spirit1-rf-driver/commit/6b99fbd82ce3dd5bc911c175cd33cc6900892726) fixes the issues you have listed.

[2017-07-04 09:25] TuomoHautamaki commented on #257
Hi @haishengliu , have you tried with the latest mbed-os version?

Regards,
Tuomo

[2017-07-04 15:33] haishengliu commented on #257
Hi, Tuomo

Thanks for your reply, it seems working. However, not often,  I get this error message on the border router side:
[INFO][6Bo ]: Received MLE Advertisement from fe80::fec2:3d00:4:cefa
[INFO][6Bo ]: Received MLE Advertisement from fe80::fec2:3d00:4:cefa
[ERR ][buff]: buffer_get failed: alloc(zd)
[ERR ][pIP6]: RX: out of memory
[ERR ][buff]: buffer_get failed: alloc(zd)
[ERR ][pIP6]: RX: o

[2017-07-04 17:08] rspelta commented on #266
Hi, I used the last patch from @betzw. I done the tests with 9 sensor-node boards. One mbed Device Connector (mDC) account for all devices. Now it seems more stable, all the 9 clients are listed on the website and I didn't see any client disappear from the list.

However I still read these messages in the log:
[ERR ][mMCp]: MAC tx fail
[ERR ][6lAd]: MCPS Data fail by status 233

You can see the lo

[2017-07-05 06:41] TuomoHautamaki commented on #257
Hi Haisheng,

As the original issue is now solved, this one should be now closed.
What comes to the border router issue, we have some improvement/fix coming in that area but would be good to get your detailed test steps and logs so that we can then verify issue being solved. So, please raise a new issue under border router repository. Thank you!

Regards,
Tuomo

[2017-07-05 06:42] #257 closed

[2017-07-05 08:46] JanneKiiskila commented on #266
Hi all,

I would conclude that this issue is NOT an mbed-client issue, it's just the fact it can't tolerate (especially the TLS handshakes are a very, very touch area) flaky networks. @kjbracey-arm knows the gory details and somehow I feel there would be some options for making it more fault-tolerant to make the situation better, client can't do much about that TLS handshake thing - we just try to

[2017-07-05 09:31] kjbracey-arm commented on #266
You will always see some "MCPS Data fail" messages - quite a few if the network is busy.

Once a 6LoWPAN network accessing the mbed server has stabilised, I wouldn't expect to see many fails, as it shouldn't be that busy. Looking at the logs, my feeling is that performance is still a bit below par, but I'd need to see some proper stats (eg ping tests, as suggested above).

Looking at those logs, o

[2017-07-05 12:01] betzw commented on #266
The number of backoffs can easily be changed [here](https://github.com/ARMmbed/stm-spirit1-rf-driver/blob/master/source/SimpleSpirit1.cpp#L149).

[2017-07-06 09:28] betzw commented on #266
I have reflected a bit about CCA & backoff and would like to ask @kjbracey-arm how the Nanostack interfaces to persistent CCA (i.e how to implement integration of a RF supporting persistent CCA into the Nanostack)?

[2017-07-06 09:37] kjbracey-arm commented on #266
Persistent CCA is not a thing I've ever come across before reading that Spirit1 datasheet. We assume backoff as per the 802.15.4 spec - a limited number of short-duration CCA attempts at random intervals. If I'm understanding correctly, that Spirit1 mode continuously monitors and transmits as soon as it's quiet? If so seems like it would just tend to cause collisions to me, as multiple nodes could

[2017-07-06 09:40] kjbracey-arm commented on #266
I guess if you did want to try that persistent CCA, you'd just enable it, and then you would presumably only report CCA_FAIL (with an artificially high "retries" to stop Nanostack trying again) if you decided to time out in the driver.

[2017-07-06 09:59] betzw commented on #266
Well, currently persistent CCA **is** enabled in the Spirti1 driver.
Furthermore, it never reports a `CCA_FAIL` ... which might be a problem?!?

[2017-07-06 10:04] kjbracey-arm commented on #266
At first impressions persistent CCA sounds like a bad idea to me in a busy network, because the PHY has no collision detection, only collision avoidance. And the collision avoidance only works if nodes don't tend to transmit simultaneously. Persistent CCA seems like it would encourage simultaneous transmissions.

It seems like a fudge to try to get higher bandwidth and lower latency, at the cost o

[2017-07-06 16:21] rspelta commented on #266
I tried the ping test. I started with only one client connected to the mesh. I have seen that even with one node sometimes there is a problem. My test is:

1. turn on the border-router, then the client
2. once the client is connected to the mbed connector I start to pinging the client continuely. 10 minutes with 32B lenght,10 minutes with 1000B lenght and other 10 minutes with 32B lenght.

What I

[2017-07-07 08:00] betzw commented on #266
Ciao Roberto,
which version(s) of the Spirti1 driver did you use?
And could you pls. elaborate a bit about what you mean when saying:

[2017-07-07 12:53] rspelta commented on #266
I used the commit with "5 max nr of backoffs" (140e6470983229aebac2de7256616c3c13f37c4b).
My PC for pinging is connected via eth cable to the same router with the border router.

When I start both (border router + client) all is ok. If I ping the client the response time is immediate.
packets of 32B -> time response: 17-30ms
packets of 1000B -> time response: 320-330ms
If I continue to ping the cl

[2017-07-07 13:03] kjbracey-arm commented on #266
Just to observe, seeing your comment about the commit "5 max nr of backoffs" - I don't think the number of backoffs parameter is used if in persistent mode - there are no backoffs, so I wouldn't expect that particular patch to change anything.

I still think the most important thing to try here is getting back to normal non-persistent 802.15.4 with backoffs, unless there is some reason to believe

[2017-07-07 15:38] rspelta commented on #266
**when it's the only device**:

C:\Users\Roberto>ping -6 -t -l 32 2002:5709:48f6:e472:280:e1ff:fe23:39

Esecuzione di Ping 2002:5709:48f6:e472:280:e1ff:fe23:39 con 32 byte di dati:
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
Risposta da 2002:5709:48f6:e472:280:

[2017-07-07 16:04] rspelta commented on #266
PS.
Resetting the router all returns back to normal:

**BORDER-ROUTER:**
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
Risposta da 2002:5709:48f6:e472:280:e1ff:fe23:39: durata<1ms
...

**CLIENT**
Risposta da 2002:5709:48f6:e472:9b99:9999:9999:9999: durata=21ms
Risposta da 2002:5709:48f6:e472:9b99:9999:9999:9999: durata=18m

[2017-07-08 17:51] amq opened #274 "Add an example of how to collect time series data from connector.mbed.com using Telegraf or Prometheus"
### Description
- Type: Question

---------------------------------------------------------------

## Question

mbed Device Connector doesn't provide persistence, so an external metric-collecting tool is needed. You already have examples for AWS IoT, Azure IoTHub and others. I'd suggest creating one more example which would include an open-source self-hosted solution like Telegraf or Prometheus.

[2017-07-08 19:49] ciarmcom commented on #274
ARM Internal Ref: IOTCLT-1865

[2017-07-10 09:31] kjbracey-arm commented on #266
Weird. What if you turn off both clients after it's gone funny? Does the border router ever go back to normal?

[2017-07-11 07:02] yogpan01 commented on #274
Hi @amq , is this a requirement that you would like to see on the Server side , if yes, then @szysas can you please check this request ?

[2017-07-12 08:57] rspelta commented on #266
If I turn off both clients the bourder router doesn't go back to normal

Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata<1ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2360ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2416ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=582ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2613ms
Risposta da 2002:4f33

[2017-07-12 08:59] rspelta commented on #266
If I turn off both clients the border router doesn't go back to normal

Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata<1ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2360ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2416ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=582ms
Risposta da 2002:4f33:7063:e472:0:ff:fe00:face: durata=2613ms
Risposta da 2002:4f33:

[2017-07-12 09:27] kjbracey-arm commented on #266
Can you intrusively debug the router - stop it to see where it's spending its time? Might not work if it's sleeping rather than busy.

Alternatively, as I'm guessing whoever's taking time is probably doing it in Nanostack's event loop, you could add trace to it, to try to see which event handler is consuming time. Add trace to eventOS_scheduler_dispatch_event(), to print out event ID and type befo

[2017-07-13 21:38] amq commented on #274
@yogpan01 in other words, I'm looking for a way to collect and store the time series data from the mbed connector using an open-source tool.

[2017-07-17 09:30] JanneKiiskila commented on #266
@kjbracey-arm @hasnainvirk   - should/could the eventloop actually have a WARN printout, if it spots any event that uses more than an acceptable amount of time?

[2017-07-17 09:45] SeppoTakalo commented on #266
@JanneKiiskila That is kind of general problem that is already under discussion [here](https://github.com/ARMmbed/mbed-os/pull/4406). We could add it, but requires that the common event loops will be accepted into the mbed OS first.

[2017-07-17 09:53] hasnainvirk commented on #266
@JanneKiiskila You can add trace for your debug purposes.

[2017-07-17 10:41] kjbracey-arm commented on #266
Would be nice to have some warning permanently in there, at least in debug builds.

We don't have a high-precision wallclock we can read in the standard HAL (`ping` in the cliapp has to cheat with platform-specific stuff as a result), but there is a 10ms interrupt ticker timer we can look at (`eventOS_event_timer_ticks`/`timer_sys_ticks`), which is enough for this purpose.

[2017-07-17 15:20] rspelta commented on #266
Sorry about being late, I added this code in **eventOS_scheduler_dispatch_event**:

[code]

I done tests with 1 or more clients but during the ping problem like:

The trace was always normal, only at the beginning I had the message "id: 0x00 - type: 0x02 - tick: 160":

[2017-07-18 08:14] betzw commented on #266
Currently, the `nanostack-border-router` and the `mbed-os-example-client` do not work correctly with `mbed-os-5.5` in **non-debug** builds. This [PR](https://github.com/ARMmbed/mbed-os/pull/4768) should resolve the issue.

[2017-07-18 08:56] hasnainvirk commented on #266
@rspelta I would like to share an observation, might not be related to your issue. You are using channel 1 which falls right at the middle of WLAN channel 6. Could you be encountering fierce interference in the radio channel ?.
Imagine tens of devices and a border router competing with high powered WLAN. It might be worth a try to look from that angle.

[2017-07-18 09:23] SeppoTakalo commented on #266
Nope, RF channel 1 is sub Ghz. It is in 900 Mhz area.
![15.4 channels](http://m.eet.com/media/1110504/zigbee_applications_fig11.jpg)

Then for overlapping Wifi channels, please see this
![15.4 and .11 channels](http://www.ni.com/cms/images/devzone/tut/2.4GHz_Spectrum.jpg)

[2017-07-18 09:54] hasnainvirk commented on #266
@SeppoTakalo @rspelta Sorry for that. I read it as 11 although I typed 1 🗡  ..My bad

[2017-07-18 15:10] kjbracey-arm commented on #266
Does PR#4768 totally resolve the weird border router delay issues?

[2017-07-19 07:10] betzw commented on #266
PR [#4768 ](https://github.com/ARMmbed/mbed-os/pull/4768)isn't realy related to this issue, so it would be a wonder if it wold resolve it ...

[2017-07-19 09:32] kjbracey-arm commented on #266
Ah, you linked to it above, so I thought you were saying it was the border router problem. Seemed to me the symptoms might fit - failure to wake at the correct time.

[2017-07-19 09:42] betzw commented on #266
Don't think so. PR [#4768 ](https://github.com/ARMmbed/mbed-os/pull/4768) is about a situation where you never return from a timeout rather than returning at an incorrect time.

[2017-07-19 11:29] betzw commented on #266
Maybe I have found a quite deterministic way to reproduce increasing values for `ping6`.

Setup:
- BR & Client: NUCLEO_F429ZI + X-NUCLEO-IDS01A4
- IPv6 addr BR: 2001:470:1f13:280:0:ff:fe00:face
- IPv6 add Client: 2001:470:1f13:280:201:203:405:607

Procedure:
1. Run `ping6 -s 1016 2001:470:1f13:280:0:ff:fe00:face -i 10` & `ping6 -s 1016 2001:470:1f13:280:201:203:405:607 -i 10` in two different shel

[2017-07-19 11:37] betzw commented on #266
Another interesting observation I made this morning after a long run of the above describe setup during last night was that this morning the client was no longer listed by the [mbed connector](https://connector.mbed.com/#endpoints) under _Connected Devices_, while its output trace didn't show up any suspicious output, on the contrary the output continued as usual with:
[code]

Any ideas?

cc @nika

[2017-07-19 15:47] architech-boards commented on #266
@betzw Maybe I have found a quite deterministic way to reproduce increasing values for ping6.
**I tryed your way and it works. I have the problem also in this way.**

@kjbracey-arm Does PR#4768 totally resolve the weird border router delay issues?
**No, I can compile without --profile=debug but this issue is not resolved**

With Atmel is there this problem? Is it a good idea if someone could try w

[2017-07-23 08:45] amq commented on #274
ie, extend https://github.com/ARMmbed/time_series_database_doc with an open-source solution in addition to Amazon and Azure.

[2017-07-25 03:06] ccli8 opened #284 "Meet mutex not allowed in ISR context error in debug build"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
K64F

**Version information**
mbed-os-example-client (mbed-os-5.5.2)
[code]

**Steps to Reproduce**
Building with default `develop` profile,
[code]
I get correct result:
[code]
But then building with `debug` profile,
[code]
I meet mutex not allowed in ISR context error:
<pre>
Starting mb

[2017-07-25 03:49] ciarmcom commented on #284
ARM Internal Ref: IOTCLT-1882

[2017-07-25 05:59] yogpan01 commented on #284
Hi, Thanks for reporting.
We will look into this issue.

[2017-07-25 16:47] rspelta commented on #266
Hello, I sniffed the packets from the ethernet cable between the border router and the router connected to the internet (not by SIM card but via cable).
When the border router is working well and the ping is fast and stable we have this situation when the client connects to the mbed connector:
![immagine](https://user-images.githubusercontent.com/3882627/28582096-80b002f4-7164-11e7-8cd7-1eee3b73c2

[2017-07-26 07:16] betzw commented on #266
Just for my understanding:
- which IPv6 address belongs to the "6LoWPAN BR" and which to the "Internet Router"?
- is the trace you sent the trace of the node/client or the BR?

[2017-07-26 08:14] rspelta commented on #266
2002:5236:726c:e472:9b999:9999:9999:9999 -> client
2607:f0d0:2601:52:20 -> mbed connector (server)
This is the DTLS protocol, the packets exchanged form the client to the mbed connector during the connection phase:

![fig-2-dtls-key-agreement-with-fixed-diffie-hellman-over-elliptic-curves](https://user-images.githubusercontent.com/3882627/28611013-a97f0a46-71ea-11e7-9f2b-463d748a5c55.png)

These p

[2017-07-26 09:24] betzw commented on #266
Analyzig the trace, to me it seems as if the client misses sniff entries from no. 77 up to no. 143 (both included). Do you have any information if and what other traffic might be going on in this period?

[2017-07-26 13:03] rspelta commented on #266
No, it isn't. Here the lists of the packets from the trace and the sniffed packets

< lient input

no.   tls message
63 > CLIENT HELLO START
64 < HELLO VERIFY REQUEST
72 > CLIENT HELLO
73 < SERVER HELLO
74 < CERTIFICATE
75 < SERVER KEY EXCHANGE
76 < CERTIFICATE REQUEST
77 LOST
130 < SERVER HELLO
132 < SERVER KEY EXCHANGE
143 > CLIENT HELLO
133 < CERTIFICATE
135 < CERTIFICATE REQUEST
136 LOST
146 <

[2017-07-28 10:05] rspelta commented on #266
update:
We resoved the problem of the packet missed. There will be a patch from ST.
There is still the problem of the ping.

[2017-08-07 14:09] betzw commented on #266
You can find an updated version of the Ethernet Nanostack driver for NUCLEO_F429ZI [here](https://github.com/ARMmbed/sal-nanostack-driver-stm32-eth).

@rspelta could you pls. test this version of the driver on your side?

[2017-08-15 08:46] yogpan01 commented on #215
Hi we have had multiple runs for mbed-client for over 6 days and there has been no disconnections observed. From mbed-client point of view, client is pretty stable over long testing. There has been similar tests done by other developers and have similar findings.
Check the similar finding and update here https://github.com/ARMmbed/mbed-client/issues/392

[2017-08-15 08:46] #215 closed

[2017-08-15 11:10] MarceloSalazar commented on #266
@rspelta please let us know whether the issue is fixed now.

[2017-08-15 12:43] JaniSuonpera opened #297 "UBLOX_EVK_ODIN_W2 - WIFI - reconnection fails"
Note: This is just a template, so feel free to use/remove the unnecessary things

Please note that if your issue is reproducible on a specific configuration only,
it's likely an mbed-OS issue rather than mbed-os-example-client issue. We recommend
reporting the the issue then directly to
[mbed-os reposititory](https://github.com/ARMmbed/mbed-os/issues) - please also
try searching for duplicates bef

[2017-08-15 12:59] JaniSuonpera commented on #297
Close issue because created under wrong repo.

[2017-08-15 12:59] #297 closed

[2017-08-16 15:40] JanneKiiskila commented on #274
@MarceloSalazar  @senthilr - something you could be looking at?

[2017-08-23 11:45] rspelta commented on #266
Hi all, today I downloaded the last version of the "nanostack-border-router" with the last commit from the sal-nanostack-driver-stm32-eth and stm-spirit1-rf-driver repositories.
It worked only with the option "--profile=debug" (old known problem)
My test (repetuted 5 times) was:
1. turn on border router connected via eth cable with internet router, waiting the boot is finished
2. turn on contempor

[2017-08-23 14:14] JanneKiiskila commented on #266
Great success! 🥇

[2017-08-25 13:10] anttiylitokola commented on #284
Hi,

Tried with the latest codes but I couldn't see such problem anymore. Could you try again with the latest code? This might be related to this issue:
https://github.com/ARMmbed/mbed-os/issues/4904

[2017-08-28 02:31] ccli8 commented on #284
@anttiylitokola I tried with mbed OS https://github.com/ARMmbed/mbed-os/#3e00a22d78f88e989d12d39498a8c621fddc490b, but I still meet this problem.

[2017-08-28 08:23] betzw commented on #266
Is it possible that issue #298 and the necessity for high ring buffer sizes are two different faces of the same issue?

[2017-08-28 08:49] rspelta commented on #266
Reading the packets from the ethernet I don't think so. The issue [#298](https://github.com/ARMmbed/mbed-os-example-client/issues/298) happen when the client sends all the right packets but the mbed server doesn't replies (in this case the border router is innocent).
However the issue [#298](https://github.com/ARMmbed/mbed-os-example-client/issues/298) force the client to send more packets than th

[2017-08-28 12:18] betzw commented on #266
@rspelta not sure I understood your point above.

In the meanwhile I have made the number of TX/RX DMA buffer elements configurable (via mbed config system).

[2017-08-29 14:25] rspelta commented on #266
The issue [298](https://github.com/ARMmbed/mbed-os-example-client/issues/298) for me is a problem from the mbed server not from the border router because I don't see the reply from the mbed server.

[2017-08-30 07:19] betzw commented on #266
Does this mean that once the mbed server issue gets resolved you think that you might downsize the ring buffer again?

[2017-08-30 08:26] rspelta commented on #266
I think it can work better. The configurable TX/RX DMA buffer is a perfect solution for my case.

[2017-08-30 08:31] betzw commented on #266
All, do you think we can close this issue?

[2017-08-30 14:54] rspelta commented on #266
For me ok. Thanks you all!

[2017-08-31 07:05] kjbracey-arm commented on #266
Any remaining problems visible on the radio side at present?

I don't know if all my long-ago comments on radio configuration were addressed - if not, remember to keep them in mind if you see more problems as node count increases.

[2017-08-31 15:24] rspelta commented on #266
Not at the moment, but surely if there would be any problems that arise, I will check them. Thank you

[2017-09-05 12:38] betzw commented on #247
Can this be closed?

[2017-09-05 12:47] betzw opened #303 "Runtime error with WiFi & mbed-os-5.5"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Version information**
mbed-os-example-client (6d49e5370f8a)
|-  mbed-os (4c256f045961)
...

**Environment details**
- GCC_ARM v6.3.1

**Actual Behavior**
[code]

[2017-09-05 14:34] MarceloSalazar commented on #303
@betzw thanks for raising this. Could you share the link to repo/branch of modified easy-connect, so are able to reproduce the app in our side?

[2017-09-05 15:50] ciarmcom commented on #303
ARM Internal Ref: IOTCLT-1967

[2017-09-06 08:19] betzw commented on #303
- [easy-connect](https://github.com/betzw/easy-connect/tree/betzw_wb_github)
- [mbed-os-example-client](https://github.com/betzw/mbed-os-example-client/tree/betzw_wifi_wb)

[2017-09-06 08:31] anttiylitokola commented on #303
@betzw, Does this happen only if you build with the debug profile like described in this ticket https://github.com/ARMmbed/mbed-os-example-client/issues/284 ?

[2017-09-06 08:45] betzw commented on #303
@anttiylitokola, correct! But this might simply due to having the ISR check disabled in non-`debug` profiles!?!

[2017-09-06 10:36] SeppoTakalo commented on #266
Closing as there is no more problems to solve.
Please raise a new issue ticket if anything new appears.

[2017-09-06 10:36] #266 closed

[2017-09-06 10:45] anttiylitokola commented on #303
Yes, MBED_TRAP_ERRORS_ENABLED macro is enabled only in debug builds.

[2017-09-06 12:28] betzw commented on #303
Anyway, it's a bug, isn't it?

[2017-09-06 15:03] betzw commented on #303
While looking at the call stack in the debugger it seems that this bug might also be

[2017-09-07 11:03] anttiylitokola commented on #303
Yep, it's a bug. Back trace reveals the problem. [trace.txt](https://github.com/ARMmbed/mbed-os-example-client/files/1284409/trace.txt).
Problem here is that "platform_enter_critical" used by the event loop is implemented as a mutex, which means you can only make event loop calls from a thread.
mbed-os 5.6 release will contain "share event queues" which should fix this problem.
https://github.com/

[2017-09-07 11:05] anttiylitokola commented on #284
I was able to reproduce this issue now and comments are available here:
https://github.com/ARMmbed/mbed-os-example-client/issues/303
I'll close this issue now so let's follow the progress in #303.

[2017-09-07 11:05] #284 closed

[2017-09-07 11:51] betzw commented on #303
I have seen that https://github.com/ARMmbed/mbed-os/pull/4406 has already been merged to the `master` branch. Do you think a test with the mbed-os `master` branch would make sense already now?

[2017-09-07 12:49] betzw commented on #303
OK, I have tried this out and unfortunately my problem is **not** yet solved:
`event_core_get()` still calls `platform_enter_critical()` which in turn tries to acquire a mutex!

[2017-09-07 13:33] anttiylitokola commented on #303
m2mconnectionhandler class must be first modified to use this new shared event queue feature. I'll try this locally and propose a PR so you can easily see what needs to be changed.

[2017-09-07 15:28] architech-boards commented on #247
Yes, thanks

[2017-09-07 15:50] #247 closed

[2017-09-12 21:00] MarceloSalazar commented on #303
@anttiylitokola have you had chance to submit a PR?
If possible, we'd like to include this as part of OOB for 5.6.

[2017-09-13 09:16] anttiylitokola commented on #303
@MarceloSalazar , Unfortunately this change involves also other components to be updated and that's why the change is not ready yet,

[2017-09-13 22:07] bridadan opened #306 "General instability on REALTEK_RTL8195AM (GCC_ARM)"
### Description
- Type: Bug
- Related Issue: `#abc`

---------------------------------------------------------------
## Bug

This bug smells like a stack overflow issue, hard to say for sure without diving deeper.

**Version information**
mbed OS 5.6 RC1

**Environment details**
Using GCC 6.3.1

**Expected Behavior**
Should be able to make requests to the device from mbed Connector.

**Actual Beha

[2017-09-13 22:26] bridadan commented on #306
Seems to be ok when using the IAR toolchain. There is a known issue with the ARM 5 toolchain however and it doesn't build.

So not sure if this is something that can be fixed in Client, might need to be passed to Realtek?

[2017-09-13 23:50] ciarmcom commented on #306
ARM Internal Ref: IOTCLT-1986

[2017-09-14 06:29] yogpan01 commented on #306
@bridadan This should be raised to mbed-os as board support is coming from OS side, the client is agnostic to underlying HW. Can you please raise issue directly to mbed-os and close it here ? We have opened several issue related with Realtek on mbed-os but seems that no one is really looking into this. Here's one example https://github.com/ARMmbed/mbed-os/issues/4683 , I think mbed-os team needs t

[2017-09-14 14:45] bridadan commented on #306
@yogpan01 Agreed, thanks for confirming. Really just wanted to double check with the Client team since that was the "entry point" in this case. I'll double check with a few other folks and then move the issue. Thanks!

[2017-09-14 15:56] bridadan commented on #306
After talking it over with the OOB folks, we're gonna leave this one up for a bit as an integration status for the platform. When some of the existing issues logged against mbed OS get resolved we can check again.

[2017-09-14 17:59] MarceloSalazar commented on #306
@samchuarm @Archcady please be aware of this issue found during OOB.

[2017-09-17 17:19] samchuarm commented on #306
#5044

[2017-09-17 17:27] samchuarm commented on #306
https://github.com/ARMmbed/mbed-os/pull/5044

[2017-09-19 03:36] vijhar01 opened #309 "Compilation errors with K64 + Ethernet"
This is the OOB testing results for k64 + Ethernet compiled with gcc-arm.
Test passes without and failures
However, reporting the following compilation warnings received as below:

PS C:\mbed-os-example-client\configs> mbed compile -m K64F -t GCC_ARM -c
Building project mbed-os-example-client (K64F, GCC_ARM)
Scan: ..
Scan: env
Scan: mbed
Scan: FEATURE_LWIP
Scan: FEATURE_COMMON_PAL
Scan: FEATURE_ST

[2017-09-19 03:50] ciarmcom commented on #309
ARM Internal Ref: IOTCLT-1997

[2017-09-19 04:07] vijhar01 opened #310 "Test failure of example with k64 + Ethernet arm compiler"
This is the OOB testing results for k64 + Ethernet compiled with arm compiler
Test failed. Here are details:
-------------------------------

**PS C:\> mbed import https://github.com/ARMmbed/mbed-os-example-client**
[mbed] Importing program "bed-os-example-client" from "https://github.com/ARMmbed/mbed-os-example-client" at latest revision in the current b
ranch
[mbed] Adding library "easy-connect"

[2017-09-19 05:24] teetak01 commented on #310
Hi @vijhar01, please move this issue to Mbed OS as the error originates from Mbed OS component.

[2017-09-19 07:50] ciarmcom commented on #310
ARM Internal Ref: IOTCLT-1998

[2017-09-19 08:45] ashok-rao commented on #310
@adbridge .. FYI..

[2017-09-19 08:50] ashok-rao commented on #309
@teetak01 .. compiler warnings may not be critical to fix right now.. but tagging you just FYI & for tracking.

[2017-09-19 09:02] teetak01 commented on #310
Also, you should highlight that this was tested with mbed OS 5.6. It was not immediately appearant.

[2017-09-19 09:03] teetak01 commented on #310
Application compiles fine for mbed OS 5.5.7 with GCC, ARM and IAR, so not an application issue.

[2017-09-19 10:13] ashok-rao commented on #310
@vijhar01 .. I can't seem to reproduce this.. following the exact same steps you mentioned, the application builds fine on my environment.
[code]
@adbridge @teetak01 @MarceloSalazar

[2017-09-19 11:19] teetak01 commented on #310
did you do some local changes to mbedtls config? That error seems to point to MbedTLS.

[2017-09-19 11:19] teetak01 commented on #310
Not a bug.

[2017-09-19 14:00] bridadan commented on #306
Ok great, hopefully this helps with stability!

@MarceloSalazar I'm away from the office this week so I can't test this at the moment. I can check it when I get back if you like.

[2017-09-19 21:47] MarceloSalazar commented on #310
@vijhar01 are you still seeing this problem?
If so, could you please confirm your toolchain version?

[2017-09-23 13:29] MarceloSalazar commented on #306
@dlfryar @yennster could either of you please help to verify this with rc2?

[2017-09-23 13:43] MarceloSalazar commented on #309
Opening to keep track of this task and remove warnings when there is a chance.

[2017-09-23 16:49] MarceloSalazar commented on #309
Agreed to close, and this kind of improvements would be delivered in a separate/internal repo.

[2017-09-23 16:49] #309 closed

[2017-09-25 13:44] vijhar01 opened #314 "Export test for make_armc5 mbed-os-5.6-oob2 (2nd round OOB) - K64F + Ethernet"
Note: This is just a template, so feel free to use/remove the unnecessary things

Please note that if your issue is reproducible on a specific configuration only,
it's likely an mbed-OS issue rather than mbed-os-example-client issue. We recommend
reporting the the issue then directly to
[mbed-os reposititory](https://github.com/ARMmbed/mbed-os/issues) - please also
try searching for duplicates bef

[2017-09-25 15:50] ciarmcom commented on #314
ARM Internal Ref: IOTCLT-2009

[2017-09-26 06:52] anttiylitokola commented on #314
Please open this on mbed-os side. This is not a mbed-client issue. FYI @MarceloSalazar

[2017-09-26 06:52] #314 closed

[2017-10-05 10:04] screamerbg commented on #303
@anttiylitokola any update on this?

[2017-10-09 13:55] haishengliu opened #322 "[ERR ][mClt]: M2MConnectionSecurityPimpl::timer_expired - handshake timeout"
Hello, Guys,

### Description
- Type: Bug | Enhancement | Question
[ERR ][mClt]: M2MConnectionSecurityPimpl::timer_expired - handshake timeout

---------------------------------------------------------------
## Bug

**Version information**
(`mbed ls`)

mbed-os-example-client.bak (8cf702c32443)
|- easy-connect (bf821b0695cc)
|  |- atmel-rf-driver (3cc6010188c0)
|  |- esp8266-driver (fdb44a4bedbb)
|

[2017-10-09 15:50] ciarmcom commented on #322
ARM Internal Ref: IOTCLT-2077

[2017-10-09 15:50] teetak01 commented on #322
Hi @haishengliu you could try to increase the SSL timeout parameter here:

https://github.com/ARMmbed/mbed-client-mbedtls-mirror/blob/1d7d223267f98c578fed190093a46c51284641ff/source/m2mconnectionsecuritypimpl.cpp#L274

The default maximum might be a bit too short for Mesh. For. ex. 29 => 60 or 80.

[2017-10-10 07:14] haishengliu commented on #322
Hi, @teetak01 , thank you for your advice. I do change the 29 -> 80, as  mbedtls_ssl_conf_handshake_timeout( &_conf, 10000, 80000 ); It is just not working either.
By the way, the link above seems broken. It shows me a 404 page.
Could you please give me any hint? Thank you in advance

Haisheng

[2017-10-10 07:22] teetak01 commented on #322
Fixed the link.

Can you try if TCP works better?

Also the lifetime could be much larger. With TCP, 3600 seconds should be quite fine.

[2017-10-10 08:02] haishengliu commented on #322
I change the file simpleclient.h to
//Select binding mode: UDP or TCP -- note - Mesh networking is *****IPv6 UDP ONLY****
#ifdef MESH
    M2MInterface::BindingMode SOCKET_MODE = M2MInterface::TCP;

I get this error message when running:
[ERR ][mClt]: pal_connect(): failed: -65536

[DBG ][mClt]: resolve_server_address()

[DBG ][mClt]: send_dns_event()

[DBG ][mClt]: M2MConnectionHandlerPimpl::dns_h

[2017-10-10 08:15] teetak01 commented on #322
It could be that this application does not support Mesh with TCP.

[2017-10-12 10:08] screamerbg commented on #303
Bump @anttiylitokola

[2017-10-12 10:49] anttiylitokola commented on #303
@screamerbg, Unfortunately no updates on this one. There has been lot of other tasks ongoing so I haven't been able to check this further.

[2017-10-13 08:08] teetak01 commented on #322
@haishengliu do you know how stable the IPv6 connection is? Can you try connecting with ethernet LWIP6 mode? There really does not seem to be any functional problem, other than establishing the secure connection keeps failing due to packet loss or other network-releted issues.

[2017-10-13 15:25] haishengliu commented on #322
hi, @teetak01, it seems that this is something network related. Sometimes it is working with the same setting. And the object can be connected and registered to the mbed connector. But also can be failed as discussed on this issue. I don't have notation about the ipv6 connection state. Thank you very much for your nice support.

[2017-10-13 15:25] #322 closed

[2017-10-16 18:08] teetak01 commented on #310
@vijhar01 is this still an issue?

[2017-10-23 09:44] JanneKiiskila commented on #303
True ARM Internal REF is:  IOTCLT-1882

[2017-10-25 09:55] teetak01 commented on #310
Closing due to inactivity.

[2017-10-25 09:55] #310 closed

[2017-10-25 09:56] teetak01 commented on #274
This issue really has nothing to do with Client-side functionality. I will close this.

[2017-10-25 09:56] #274 closed

[2017-10-25 09:58] teetak01 commented on #208
Closing.

[2017-10-25 09:58] #208 closed

[2017-10-25 09:59] teetak01 commented on #194
@bridadan I think this issue is fixed. Closing.

[2017-10-25 09:59] #194 closed

[2017-12-03 16:24] JanneKiiskila opened #338 "REALTEK_RLT8195AM - LED definitions broken?"
### Description
- Type: Bug
- Related Issue: `#abc`

---------------------------------------------------------------
## Bug

**Version information**
(`mbed ls`)

[code]

**Environment details**
Describe against which environment you are testing.
Compiler & other relevant tools - version information.

ARM_GCC comiing with MBed CLI 0.43 version.

**Expected Behavior**

LED would blink.

**Actual Beh

[2017-12-03 16:25] JanneKiiskila commented on #338
Hmmh.. Actually, the TARGET file explains a lot;

[code]

Is there any special reason why none of the board LEDs can't be used?

[2017-12-03 16:28] JanneKiiskila commented on #338
Closing out, not an issue in the example. but rather the board itself. https://github.com/ARMmbed/mbed-os/issues/5642

[2017-12-03 16:28] #338 closed

[2017-12-10 10:58] jWladimir commented on #266
Hello, guys
I am have a problem.
I can not connect a node and a border router with a spirit1 radio.
I have a nucleo boards with stm F411, L152(for nodes) and F429(for BorderRouter)
But I can not find the working configurations for connecting any this modules.
On the NUCLEO_F429ZI with NUCLEO Spirit1 I made changes with resistors R4 to R7 and SB121 to SB122.
I do not understand what am I doing wron

[2017-12-10 11:29] teetak01 commented on #266
@jWladimir this repository is only for the Client-application. Please check the border-router repository here: https://github.com/ARMmbed/nanostack-border-router

Also, please open a new issue if something does not work.

[2017-12-11 10:07] SeppoTakalo commented on #266
Border router application already has example config for F429ZI and Spirit RF module. https://github.com/ARMmbed/nanostack-border-router/blob/master/configs/6lowpan_Spirit1_RF.json

Also the example configuration for 6LoWPAN already has Spirit RF module enabled: https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/mesh_6lowpan_subg.json#L9

For debugging connectivity problems, ple

[2017-12-12 11:23] rspelta opened #351 "mbed connector - backward compatibility problem?"
- Type: Bug?

cc @MarceloSalazar

Hello, I'm having a problem with the mbed connector website. Our [mbed-os-sensor-node](https://os.mbed.com/teams/Avnet-Silica/code/mbed-os-sensor-node/) project is not working anymore. This project is a porting from a old version of the mbed-os-example-client. The mesh works but it is not possible connect any clients to the mbed connector.
Some month ago I was abl

[2017-12-12 12:50] ciarmcom commented on #351
ARM Internal Ref: IOTCLT-2267

[2017-12-13 12:37] MarceloSalazar opened #353 "Wifi ST idw0x using NULL_ENTROPY"
The ST Wifi configuration for idw01 and idw04 are using:
- MBEDTLS_NO_DEFAULT_ENTROPY_SOURCES
- MBEDTLS_TEST_NULL_ENTROPY

See json configuration:
- https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/wifi_idw01m1_v4.json#L24
- https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/wifi_idw04a1_v4.json#L24

This is not compliant with the level of security we are re

[2017-12-13 12:50] ciarmcom commented on #353
ARM Internal Ref: IOTCLT-2271

[2017-12-13 13:21] betzw commented on #353
Well, it are not the WiFi shields which are not supporting TLS/entropy but the NUCLEO base board(s) (e.g. `NUCLEO_F401RE`) which I use for testing that do not support this security level.

[2017-12-13 13:31] MarceloSalazar commented on #353
Perhaps we can switch to `NUCLEO_L4x6RG`?
I don't think `NUCLEO_F401RE` meets the requirements and should be dropped from this example app.

[2017-12-13 14:20] JanneKiiskila commented on #353
That sounds like the right conclusion. Which other base board would do?

[2017-12-13 14:20] JanneKiiskila commented on #353
(Or implement the entropy parts to that board as well, that's another way out of it).

[2017-12-13 14:25] JanneKiiskila commented on #353
There's a test matrix; https://os.mbed.com/teams/ST/wiki/Matrix-of-tested-boards
I think we could pick up another board from there?  NUCLEO L476RG potentially?

[2017-12-14 06:15] betzw commented on #353
Would it help if we remove those `macros` sections of
- [`configs/wifi_idw01m1_v4.json`](https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/wifi_idw01m1_v4.json#L24), and
- [`configs/wifi_idw04a1_v4.json`](https://github.com/ARMmbed/mbed-os-example-client/blob/master/configs/wifi_idw04a1_v4.json#L24)

?!?

[2017-12-14 07:02] SamiLappalainenArm opened #355 "WiFi connection fails with client compiled by IAR IDE"
### Description
mbed-os-5.7.0-oob client build by IAR does not register succecfully. Succesfull registering works when GCC_ARM is used to build.

---------------------------------------------------------------
## Bug
Used git repo = mbed-os-example-client => branch mbed-os-5.7.0-oob

Used environment:
- Windows10 laptop
- K64F + ESP8266
- mbed version 1.2.0
- IAR version 7.80.1.11973

**Expected B

[2017-12-14 07:16] teetak01 commented on #355
Note, it is not actually a Client issue if the network-bringup already fails. Should be reported to ESP8266 repository or to Mbed OS instead.

[2017-12-14 07:21] JanneKiiskila commented on #353
It will compile then at all, I'm afraid.

[code]

[2017-12-14 07:33] betzw commented on #353
Which base board are you using?

[2017-12-14 07:40] JanneKiiskila commented on #353
This compilation with with using the `configs/wifi_idw01m1_v4.json` and just `mbed compile -m NUCLEO_F401RE -t GCC_ARM`.

[2017-12-14 07:50] betzw commented on #353
Well, the `NUCLEO_F401RE` does not provide support for `TLS/entropy` and such the compilation correctly produces the above errors.
You might want to try to compile for base boards which support TLS, e.g. NUCLEO boards `NUCLEO_L4x6RG`.

[2017-12-14 08:50] ciarmcom commented on #355
ARM Internal Ref: IOTCLT-2272

[2017-12-14 12:16] MarceloSalazar commented on #355
From the user point of view, this application is failing when using ESP8266 and IAR.
@adbridge we should consider adding this to the known issue list.

[2017-12-14 12:18] adbridge commented on #355
Is this a problem using the IAR exporter or native IAR compilation ?

[2017-12-14 12:27] MarceloSalazar commented on #355
It seems he is exporting to IAR IDE.
@SamiLappalainenArm could you please compile from the command line and confirm the behavior?
For example:
[code]
This will help us to narrow down the problem. Thanks!

[2017-12-14 13:30] SamiLappalainenArm opened #357 "client fails to connect via UDP when binary is compiled by Online Compiler"
using UDP fails when binary is compiled with Online compiler but if I compiled with CLI GCC_ARM then UDP works.

---------------------------------------------------------------
## Bug

**Version information**
mbed-os-example-client, revision 9468fd3, tag mbed-os-5.7.0-oob

**Environment details**
https://os.mbed.com/compiler

**Expected Behavior**
Registered object successfully!

**Actual Behavior

[2017-12-14 13:41] SamiLappalainenArm commented on #355
I did used IAR Embedded Workbecnh IDE when I creted this ticket.

And when I used "mbed compile -t IAR -m K64F -c" command I got error "Could not find executable for IAR."

I assume that my system configuration is not correct => I will try to fix my system tomorrow.

[2017-12-14 13:52] MarceloSalazar commented on #355
I suspect you'll need to add IAR tools to the system path. You should be able to launch `iccarm` from the command line.

[2017-12-14 14:14] vijhar01 opened #358 "Fails to compile with ARM compiler"
This was with 5.7 OOB RC1
Tried the mbed-os-example-client with ARM, GCC, IAR compilers. It failed with ARM and succeeded with others. Tried both standalone and Keil ARM. Same error with both (below).
- ARM compiler version is 5.06 update 6
- Got it from here - https://developer.arm.com/products/software-development-tools/compilers/arm-compiler/downloads/version-5#panel1a

PS C:\mbed-os-example-cl

[2017-12-14 14:22] MarceloSalazar commented on #357
@JanneKiiskila @adbridge

[2017-12-14 14:24] MarceloSalazar commented on #358
hi @vijhar01

This error suggests that you need to have a license installed.
Can you please double check?

[2017-12-14 14:27] vijhar01 commented on #358
Yes - I have license installed.

C:\Users\xxxxx>echo %ARMLMD_LICENSE_FILE%
7010@nahpc-lic19.nahpc.arm.com

C:\Users\xxxxx>

Same error with standalone ARM compiler as well

[2017-12-14 14:49] MarceloSalazar commented on #357
@SamiLappalainenArm could you please confirm you're switching to the 'mbed-os-5.7.0-oob' branch with the beta Online environment?
https://os-partnerbeta.mbed.com/accounts/login/

[2017-12-14 16:50] ciarmcom commented on #358
ARM Internal Ref: IOTCLT-2276

[2017-12-14 16:50] ciarmcom commented on #357
ARM Internal Ref: IOTCLT-2277

[2017-12-14 17:40] MarceloSalazar commented on #358
@vijhar01 it's definitely something wrong with the license, which is not a problem on this actual example app. Maybe you can discuss this with @bridadan in your office?

[2017-12-14 17:42] vijhar01 commented on #358
Will do.
Planning to try in RC2 and ping Brian D. Thanks

[2017-12-14 21:10] vijhar01 commented on #358
It works now.
Here are the changes I made

- Used RC2 example
- Uninstalled existing standalone ARM and Keil installs
- Downloaded Keil from \\venus.cambridge.arm.com\Groups\DevSys\mbed\Tools\toolchains\MDK (the .exe with the most recent date - MDK524a)
- Added system env variable ARM_PATH to point to ..Keil_v5\ARM\ARMCC
- Added system env variable ARMLMD_LICENSE_FILE

It compiled and device got r

[2017-12-14 21:10] #358 closed

[2017-12-15 05:56] SamiLappalainenArm commented on #357
![online-compiler-revision-info](https://user-images.githubusercontent.com/32475622/34028663-48dc85c2-e16d-11e7-8c6a-5395e85552e2.PNG)
I have attached screen capture from Online Compiler revision view => I'm using mbed-os-5.7.0-oob branch from mbed-os-example-client repo

[2017-12-15 07:32] teetak01 commented on #355
I verified that this works fine without online compiler.

[2017-12-15 07:42] teetak01 commented on #351
@rspelta Were you trying to use old sertificate files/binaries in your initial test? The security.h files expired at some point in the beginning of this year. Other than that there has been no changes.

Could you update to the latest atmel driver + latest border-router with latest atmel driver (https://github.com/ARMmbed/nanostack-border-router). The driver has significant fixes for the packet-los

[2017-12-15 08:06] SamiLappalainenArm commented on #355
I managed to use IAR compiler via CLI and here is the client output:

Starting mbed Client example
[EasyConnect] IPv4 mode
[EasyConnect] Using WiFi (ESP8266)
[EasyConnect] Connecting to WiFi Anfield-tower
[EasyConnect] Connected to Network successfully
[EasyConnect] MAC address 5c:cf:7f:04:6a:f2
[EasyConnect] IP address 192.168.43.142

SOCKET_MODE : TCP
Connecting to coap://api.connector.mbed.com:

[2017-12-15 18:43] MarceloSalazar commented on #355
@adbridge lets add this to the known issue list when using IAR IDE

[2017-12-15 18:46] MarceloSalazar commented on #357
@adbridge let's add this to the known issue list

[2017-12-16 09:36] JanneKiiskila commented on #357
@SamiLappalainenArm - which version of the CLI compiler did you have?

[2017-12-16 16:15] rspelta commented on #351
Hi,

I used a new certificate but still it not works, the sensor node doesn't connect to the mbed connector.

I give you the following repositories in order to replicate my issue:

* If you want to use the repository used for the seminars:
[https://os.mbed.com/teams/Avnet-Silica/code/mbed-os-sensor-node/](https://os.mbed.com/teams/Avnet-Silica/code/mbed-os-sensor-node/)
about 20 days ago I commite

[2017-12-18 05:59] SamiLappalainenArm commented on #357
here are details of my CLI compiler:

H:\>armcc.exe
Product: ARM Compiler 5.06
Component: ARM Compiler 5.06 update 6 (build 750)

[2017-12-18 15:15] MarceloSalazar commented on #357
@theotherjimmy can you please confirm the version of the Arm Compiler being used in the Online IDE?

[2017-12-18 15:29] theotherjimmy commented on #357
@MarceloSalazar It looks like 5.05, but I would like to have confirmation from @immunda That that is indeed what's installed.

[2017-12-18 20:03] MarceloSalazar opened #359 "Client app + LwIP IPv6 fails to connect to network"
### Description
- Type: Bug

Tested https://github.com/ARMmbed/mbed-os-example-client
Tag: mbed-os-5.7.0-rc3
Includes fix: https://github.com/ARMmbed/mbed-os/pull/5704
However, this doesn't seem to change the behavior.

**Expected Behavior**

When using Arm Compiler 5 Update 6 and GCC 6.3

[code]

**Actual Behavior**

When using Arm Compiler 5 Update 3

[code]

**Steps to Reproduce**

[code]
@adbr

[2017-12-18 20:50] ciarmcom commented on #359
ARM Internal Ref: IOTCLT-2281

[2017-12-18 23:35] sg- commented on #357
I've compiled the latest version of Mbed OS and here is what I get.
[code]
the output is:
[code]

[2017-12-19 06:38] teetak01 commented on #359
Known issue on ARM Compiler Update 3. Fixed in ARM Compiler Update 6.

[2017-12-19 06:39] teetak01 commented on #359
https://github.com/ARMmbed/mbed-os/issues/4433

[2017-12-19 07:44] JanneKiiskila commented on #359
Closing, we can't fix this in the client side. Mbed OS 5.7 should have a patch for it, but the ONLY *real* solution for anyone should be to update their compiler to 5.06 update 6.

[2017-12-19 08:01] mikaleppanen commented on #359
I cannot reproduce this. When testing with a build made according to steps in "Steps to Reproduce" K64F connects to ipv6 correctly. There should not be any timing/ipv6 negotiation use cases that could differ between ipv6 Ethernet networks.

[2017-12-19 11:32] MarceloSalazar commented on #359
There seems to be a timing issue involved here. It fails almost always when Armc5u3, but in some few attempts works.
Find here the binaries in case you want to try on your end.

[doesnt-work-armc5u3.zip](https://github.com/ARMmbed/mbed-os-example-client/files/1571471/doesnt-work-armc5u3.zip)
[works-armc5u6.zip](https://github.com/ARMmbed/mbed-os-example-client/files/1571472/works-armc5u6.zip)

[2017-12-19 11:37] JanneKiiskila commented on #359
Hmmh.. the bug that was in the compiler wasn't timing dependent, it clearly produced 100% faulty code (CRC calculation failed, with 100% rate). This is something else then now.

[2017-12-19 12:53] mikaleppanen commented on #359
I tried the "doesnt-work-armc5u3.zip" binary in both ipv6 test networks here and it connects always correctly. I cannot repeat the problem here, Marcelo, is it possible for you to trace Ethernet interface (multicasts)? I also made build with some extra lwip ipv6 traces:

[ipv6_traces_armc5u3.zip](https://github.com/ARMmbed/mbed-os-example-client/files/1571679/ipv6_traces_armc5u3.zip)

If there is

[2017-12-19 14:41] MarceloSalazar commented on #359
I've tried the binary with traces enabled - see logs attached: [ipv6_traces_armc5u3_logs.txt](https://github.com/ARMmbed/mbed-os-example-client/files/1571973/ipv6_traces_armc5u3_logs.txt)

However, I'm also seeing this network issue sometimes with GCC and ARMC5u6. I'm wondering if my (tunnel) IPv6 infrastructure is related to this.

[2017-12-20 06:45] JanneKiiskila commented on #359
Sounds like that.

[2017-12-20 07:03] mikaleppanen commented on #359
Converted the traces to wireshark log. The router solicitation from k64f is not answered by the router with router advertisement:

![image](https://user-images.githubusercontent.com/13345641/34195050-4c9e4e34-e564-11e7-9f51-af90cc86b540.png)

If this happens with all configurations then it must be some issue with network infrastructure.

[2017-12-20 16:36] JanneKiiskila commented on #306
Closing this one out now, we have some fixes coming and other, more specific errors on Mbed OS -side.

[2017-12-20 16:36] #306 closed

[2017-12-21 09:21] JanneKiiskila commented on #351
That is a very long list of changes needed - are you able to any way isolate the changes one by one, i.e. change only ONE of those components to isolate which one exactly is now regressing?

Also, we would need the more detailed logs from the client side.

[2017-12-21 13:51] screamerbg opened #364 "Latest mbed-os-example-client uses non-official version of mbed Client and libraries"
While using mbed CLI 1.3.0 (latest at the time of this writing), I've noticed that newer version of this example program uses non-official version of mbed Client and other libraries.

For example mbed-os-example-client in mbed-os-5.6.1 tag/release uses mbed Client version 3.0.0
[code]

mbed-os-example-client in the latest/mbed-os-5.7.0 release uses unknown version of mbed Client
[code]

Also looki

[2017-12-21 16:50] ciarmcom commented on #364
ARM Internal Ref: IOTCLT-2290

[2017-12-22 10:48] JanneKiiskila commented on #364
Mbed tool chain doesn't support versions, all the hashes are only hashes. Therefore, the versions are more or less irrelevant. Closing out, won't be fixed.

[2017-12-22 21:45] screamerbg commented on #364
@JanneKiiskila, the mbed toolchain **DOES** support versions. This applies for mbed OS and all example programs, including mbed CLI - see log above. If you're referring to mbed Client lacking versioning after some point then that exactly what I'm asking to be fixed.

[2017-12-27 11:51] JanneKiiskila commented on #364
Hmm... I wonder why I've not ever seen a single mbed-OS release update .lib change come in with a version number, they are always with hashes? Why is that then?

[2017-12-27 12:28] JanneKiiskila commented on #364
`mbed releases` doesn't seem to work at least on Windows, fails for me at least. I raised an issue on that.
https://github.com/ARMmbed/mbed-cli/issues/594

[2017-12-29 11:28] JanneKiiskila commented on #364
So, it is **new** tool feature for mbed-cli, everyone should update their mbed-cli's then...

[2017-12-29 11:28] JanneKiiskila commented on #364
Why is the tool listing *all* versions for the components? The list is too long.. I would understand if you used something like --all to get ALL the versions, but for now - it should just list ONE version (the one that's used) OR the hash (if no version match).

[2017-12-29 14:11] JanneKiiskila commented on #359
I would conclude it's an issue with IPv6 tunnel you're using @MarceloSalazar , would you agree? (And close this case).

[2017-12-29 14:37] MarceloSalazar commented on #359
Yes, it looks like an issue with the tunnel or setup combined with border router.
Closing until we're able to reproduce this consistently.

[2017-12-29 14:37] #359 closed

[2018-01-03 04:25] kaizen8501 opened #366 "When device connect to mbed cloud, It prints "device not registerd" message."
### Description
- Type: Question

Version Information(mbed ls)
F:\GitHub_Repository\ARM\mbed-os-example-client>mbed ls
mbed-os-example-client (33ae628ef1c5)
|- easy-connect (00f21d0ae5bf)
|  |- atmel-rf-driver (2cd9abba3e37)
|  |- esp8266-driver (b0d79dad507d)
|  |- mcr20a-rf-driver (9aac10474702)
|  |- stm-spirit1-rf-driver (0ff4ca7537f0)
|  |- wifi-x-nucleo-idw01m1 (537b01c4a053)
|  `- wizfi310-

[2018-01-03 04:50] ciarmcom commented on #366
ARM Internal Ref: IOTCLT-2293

[2018-01-04 06:30] kaizen8501 commented on #366
I solved this problem. In this problem, my device didn't send certificate packet that is reason.

[2018-01-04 06:30] #366 closed

[2018-01-11 21:49] bentcooke opened #371 "Incorrect SOCKET_MODE set when using mesh config"
### Description
- Type: Bug

SOCKET_MODE is incorrectly set to TCP when using the mesh configs causing connections to the connector server to fail.
---------------------------------------------------------------
## Bug

**Version information**
(`mbed ls`)

**Environment details**
K64F + Atmel 6lowpan shield

**Expected Behavior**
Trace output:

**Actual Behavior**
Trace output:

**Steps to Reprodu

[2018-01-12 00:50] ciarmcom commented on #371
ARM Internal Ref: IOTCLT-2328

[2018-01-16 06:49] teetak01 commented on #371
Thanks for reporting. I'll check this.

[2018-01-16 07:24] betzw commented on #303
Any news?

[2018-01-16 08:39] JanneKiiskila commented on #303
This has been fixed now, but we need to make a new release (which will contain many other things as well). So, it's pending the bigger 1.3 release now, we're trying to get it done as soon as possible.

[2018-01-16 08:43] betzw commented on #303
Is it already on the master branch?

[2018-01-16 08:47] teetak01 commented on #303
@JanneKiiskila this requires backport fix to public PAL.

[2018-01-16 10:10] teetak01 commented on #371
@bentcooke linked PR to fix this issue based on your suggestions.

[2018-01-16 13:25] #371 closed

[2018-02-02 18:49] MarceloSalazar commented on #351
@aratti has confirmed that the application is much more stable when switching to UDP, instead of TCP (I'd expect to be the other way round).

@SeppoTakalo would you be able to comment how is this possible?
Could you please look into this? Thanks!

[2018-02-05 10:42] rspelta commented on #351
Could you please look into this? Thanks!

The UDP/TCP problem was with a newer version of the mbed-os and that problem was an our software-compiling issue. 6lowpan mesh must work with UDP not TCP.

update:
At the moment our "seminar version" [(mbed-os-sensor-node)](https://os.mbed.com/teams/Avnet-Silica/code/mbed-os-sensor-node/) is working well. This version will be used at our seminars, and for

[2018-02-05 11:37] JanneKiiskila commented on #351
Which tunnel are you using? We had some similar experiences in UK side as well, @mikaleppanen  was studying those and there was some clear tunnel issue.

[2018-02-09 11:36] rspelta commented on #351
I have 2 ways:
1. Enabling the "tunnel6to4" option by our company router connected to the internet. It is done automatically and I don't know exactly how it works.
2. Using our server over internet that implement a tunnel6to4 service.

[2018-02-14 17:25] MarceloSalazar commented on #351
@rspelta thanks for letting us know. I'm closing this ticket as the problem is gone.

[2018-02-14 18:03] #351 closed

[2018-02-19 05:49] betzw commented on #353
@MarceloSalazar, @JanneKiiskila
Can we close this issue?

[2018-02-19 06:23] JanneKiiskila commented on #353
Yep!

[2018-02-19 06:23] #353 closed

[2018-03-06 08:30] betzw commented on #303
Any news?

[2018-03-08 11:38] terhei opened #389 "IAR make build fails with K66F"
Exported IAR make build fails with K66F with following error:

"link: mbed-os-example-client.elf"
process_begin: CreateProcess(C:\Program Files (x86)\IAR Systems\Embedded Workbench 7.5\arm\bin\ilinkarm.exe, ilinkarm --skip_dynamic_initialization --threaded_lib --config .././mbed-os/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_K66F/device/TOOLCHAIN_IAR/MK66FN2M0xxx18.icf --output mbed-os-

[2018-03-08 12:50] ciarmcom commented on #389
ARM Internal Ref: IOTCLT-2489

[2018-03-08 14:39] artokin commented on #389
This is similar as https://github.com/ARMmbed/mbed-os-example-mesh-minimal/issues/175.

[2018-03-09 08:13] yogpan01 commented on #389
This is not an application bug but an issue in exporter. Raise it to the right forum for it to get fixed, no action will be taken on this here.

[2018-03-09 08:13] #389 closed

[2018-03-09 08:28] teetak01 commented on #364
Won't fix.

[2018-03-09 08:28] #364 closed

[2018-03-09 08:29] #355 closed

[2018-03-09 08:29] #357 closed

[2018-03-09 17:13] adbridge commented on #389
@terhei @artokin Can one of you please raise this against mbed-os

[2018-03-12 09:29] artokin commented on #389
This is duplicate of https://github.com/ARMmbed/mbed-os-example-mesh-minimal/issues/175. Issue will be processed there.

[2018-03-16 17:03] vijhar01 opened #391 "Odin related link section in readme is missing"
Couple of issues (both odin_w2 wifi board related)

- This link is not there - https://github.com/ARMmbed/mbed-os-example-client#compile-configuration-for-odin-wifi
- On the 'Testing the Application' section, there are no SW2 or SW3 switches for odin-w2 boards.

[2018-03-16 20:50] ciarmcom commented on #391
ARM Internal Ref: IOTCLT-2517

[2018-03-19 13:38] ashok-rao commented on #391
@yogpan01 .. bump!

[2018-03-19 21:40] JanneKiiskila commented on #391
The issue is a bit vague, can you please extrapolate a bit?
- Odin specific note about the Mbed OS 5.7.5-5.7.x has now been added (though link is broken, will fix that).
- we should not be referring to SWx anymore, there are the BUTTON1 etc., as an abstraction layer.
  - however, it might be that they do not work unless you pull them up!

[2018-03-21 17:29] ashok-rao commented on #391
@vijhar01 can you please explain a bit more? Thanks.

[2018-03-21 18:51] vijhar01 commented on #391
The issues I had itemized were my feedback based on 5.8 OOB testing of this example with odin-w2. In this context,

- Link  https://github.com/ARMmbed/mbed-os-example-client#compile-configuration-for-odin-wifi is broken in the documentation.
- Please document how to test and monitor application w.r.t odin boards (since they do not have the SW2, SW3 switches).

I hope this explains. The example its

[2018-04-05 12:13] prvthkr opened #394 "Without Ethernet : mbed-os-example-client using LPC1347"
### Description
- Type: Question
- Priority: Medium
---------------------------------------------------------------
## Question
**Target**
LPC1347

**Toolchain**
ARM

Ethernet port is not available on this target. External [Ethernet shield](https://os.mbed.com/components/W5500-Ethernet-Kit-for-IoT/)(SPI interface) to be used.
    - Can anyone confirm me that this is possible or not?

[2018-04-05 12:13] prvthkr commented on #394
@teetak01 ??

[2018-04-05 12:47] 0xc0170 commented on #394
@JanneKiiskila Do you have any experience with spi ethernet shields running client example?

[2018-04-05 13:50] JanneKiiskila commented on #394
If you find a working driver for in on Mbed OS - then potentially yes.
However, we have not tested it in any manner. Please bear in mind [board requirements](https://cloud.mbed.com/docs/current/cloud-requirements/production-reqs.html) otherwise.
- TRNG
- enough RAM and Flash.

[2018-04-05 15:50] ciarmcom commented on #394
ARM Internal Ref: IOTCLT-2575

[2018-04-06 02:39] prvthkr commented on #394
@JanneKiiskila, Thank you for your information 👍

[2018-04-06 05:36] JanneKiiskila commented on #394
Hi @prvthkr

are we OK to close this ticket now, or is there something more?

[2018-05-03 05:12] teetak01 commented on #303
@betzw this has been fixed in the public https://github.com/armmbed/mbed-cloud-client. The components what this Legacy application uses are deprecated and unlikely to be updated anymore.

See https://github.com/armmbed/mbed-cloud-client-example

[2018-05-21 14:28] #303 closed